[2015-10-09 06:38] krazykira commented on #50
I am getting the *same exception* and none of the above solutions worked for me
[code]

This happens when i add [GPU image Android Library](https://github.com/CyberAgent/android-gpuimage). I am using Gradle and Android Studio. Also once i remove GPU image this issue is solved. So i don't know whats the conflict

[2015-10-09 12:35] hoshomoh commented on #140
What if there another android:name attr before, what do I do

[2015-10-09 13:37] Leandros commented on #140
Is it your own `Application` subclass? Than you can just take a look at what the `SugarApp` class does [here](https://github.com/satyan/sugar/blob/master/library/src/main/java/com/orm/SugarApp.java) and do it in your class.

[2015-10-09 19:24] sibeliusseraphini opened #397 "Table creation twice"
I have created a SugarRecord to represent a table, I've changed some properties from private to public, and the Sugar is creating the same Table twice

[2015-10-09 19:34] sibeliusseraphini commented on #374
@JA-VON did you use DROP TABLE?

[2015-10-09 21:26] JA-VON commented on #374
Yes I did, in the sql file.

[2015-10-10 20:05] hoshomoh commented on #140
Yes its my own Application sub-class. This should work. Thanks

[2015-10-10 20:50] hoshomoh opened #398 "Getid returns null"
I am implementing sugarorm with a listadapter. When the user clicks on an item,  I want to get the Id of that item in the database.  Other fields are being returned but getid returns null.

[2015-10-13 07:20] bendaniel10 commented on #267
I ran into this issue too, I found out that when MultiDex is enabled, the ReflectionUtil class does not scan all the dex files for entity classes correctly, I think it scans the first one only. I've forked the project and provided a fix for that: https://github.com/bendaniel10/sugar

[2015-10-13 09:58] thedamfr commented on #391
Did you find any work around ?

[2015-10-13 12:32] #392 closed

[2015-10-13 14:27] sibeliusseraphini commented on #397
I think this pull request #373 solves this issue

[2015-10-14 07:20] tracytheron commented on #267
@bendaniel10 yes, that's the issue. I fixed it few months ago, but @satyan perhaps is away. https://github.com/satyan/sugar/pull/327

[2015-10-14 07:59] Zapnologica commented on #169
I also had this problem. I was using 1.3 though. Im glad I found this forum. I was totally confused as to why my apps Icon suddenly changed.

[2015-10-15 08:12] Ewg777 commented on #391
+1

[2015-10-15 08:28] nozay commented on #391
+1
15 Eki 2015 11:12 tarihinde "Evgeniy" <notifications@github.com> yazdı:

[2015-10-15 08:33] thedamfr commented on #391
FYI
I think I fixed it by upgrading gradle tools.
Love

[2015-10-15 08:44] Ewg777 commented on #391
@thedamfr to which version?

[2015-10-15 08:50] thedamfr commented on #391
buildToolsVersion '23.0.1'

Le jeu. 15 oct. 2015 à 10:44, Evgeniy <notifications@github.com> a écrit :

[2015-10-19 06:45] sureshjoshi commented on #316
I would love to see the base SugarRecord as a Serializable object, as all it really contains from a field point of view is the ID... Doing so allows me to abstract my code, so that between activities, I'm passing an object, rather than needing a database call in each activity (this is more an encapsulation problem, not a performance problem for me).

In fact, the ONLY time I get burned by the seri

[2015-10-19 16:11] jpage4500 commented on #359
I also noticed a ~5 second delay the first time you try to read/write to the database - from the logs I can see the database is being created at this time. I'm assuming this is a normal DB creation time and nothing really 'wrong' with Sugar..

But, the fact that it's doing lazy-initialization is actually something I was hoping to fix as well. I'd rather take the DB creation 'hit' when the app is c

[2015-10-19 16:16] agoransson commented on #359
F.y.i. when I managed to force build the DB I made a write - not a read. It's been a while since I came up with that workaround and I since then had to switch (for other reasons) to building a service provider from scratch and felt I should just build the DB from scratch then too.

[2015-10-19 16:19] jpage4500 commented on #359
I just tested and doing a read does kick-off the table creation for what it's worth..

[2015-10-19 18:09] fcelarino commented on #391
Hi guys. I updated my buildToolsVersion to 23.0.1 and I still have the same problem. Somebody figured out how to fix it?

[2015-10-20 10:15] Ewg777 commented on #391
sugar 1.4 has same error

[2015-10-20 16:39] NirHUJI commented on #398
same problem here.
i found out that the id field is being initialized only after you save the object. so a simple work-around would be:
Book book = new Book(ctx, "Title here", "2nd edition")
book.save();
book.getId();

[2015-10-20 20:29] antoniocanaveral commented on #391
Have the same error on Lollipop targetSdkVersion 22, buildToolsVersion "22.0.0", compile 'com.github.satyan:sugar:1.3.1' Was working fine till last AndroidStudio Upgrade

[2015-10-20 23:45] RoyMontoya opened #404 "add Mockito for Unit tests"
Hi, everyone i would like to add tests to the sugar library and i think it would be useful to have Mockito framework. Mockito is an open source project that allows you to easily create mocks and stubs for unit testing.

I think that sugar right now needs more testing, and mockito can help us with this. I leave the link.

http://mockito.org/

Any feedback or opinions are appreciated.

[2015-10-21 07:14] hoshomoh commented on #398
Okay. Thanks @NirHUJI . I later got this to work. Isssue was with serialization.

[2015-10-21 07:41] Ewg777 commented on #391
Try to config DOMAIN_PACKAGE_NAME in AndroidManifest.xml (http://satyan.github.io/sugar/getting-started.html)

[2015-10-21 12:19] sibeliusseraphini commented on #404
Great, try to improve the coverage if this tests

[2015-10-22 08:31] HectorFGarcia commented on #339
I think project is abandoned so I close this.

[2015-10-22 08:31] #339 closed

[2015-10-22 21:16] Vookash commented on #267
Is it fixed? I have version 1.4 and still have this problem.

[2015-10-25 18:29] sureshjoshi commented on #392
@andrespalma2 Did you ever solve this?

[2015-10-26 11:45] tkeil69575 commented on #174
I getting this when try to compile

C:\dev\workspace\ContactLoggerApp\app\src\main\AndroidManifest.xml:25:9-36 Error:
	Attribute application@allowBackup value=(false) from AndroidManifest.xml:25:9-36
	is also present at [com.github.satyan:sugar:1.3] AndroidManifest.xml:12:9-35 value=(true)
	Suggestion: add 'tools:replace="android:allowBackup"' to <application> element at AndroidManifest.xml:23:5-1

[2015-10-26 11:46] tkeil69575 opened #406 "Attribute application@allowBackup is also present at [com.github.satyan:sugar:1.3]"
I getting this when try to compile

C:\dev\workspace\ContactLoggerApp\app\src\main\AndroidManifest.xml:25:9-36 Error:
Attribute application@allowBackup value=(false) from AndroidManifest.xml:25:9-36
is also present at [com.github.satyan:sugar:1.3] AndroidManifest.xml:12:9-35 value=(true)
Suggestion: add 'tools:replace="android:allowBackup"' to element at AndroidManifest.xml:23:5-106:19 to override

[2015-10-26 14:11] tkeil69575 commented on #406
Okay, updating to 1.3.1 solved the issue :)

[2015-10-26 14:11] #406 closed

[2015-10-27 18:06] CodeBoyChd opened #409 "Crash while initializing the Sugar Orm in Application file on 4.4 version"
Why i am getting this crash while launching this. It get crashed on 4.4. Please let me know the solution soon...

java.lang.NoClassDefFoundError: com.orm.SugarDb
            at com.orm.Database.<init>(Database.java:12)
            at com.orm.SugarApp.onCreate(SugarApp.java:11)
            at com.myapp.app.UI.activities.MyApplication.onCreate(MyApplication.java:21)
            at android.app.Instru

[2015-10-27 18:30] sibeliusseraphini commented on #409
are you using proguard?

[2015-10-27 18:31] CodeBoyChd commented on #409
Yes

[2015-10-27 19:17] sibeliusseraphini commented on #409
could you post your proguard file here?

[2015-10-28 07:51] farmazon3000 commented on #50
I have the same issue.

@satyan "But we still need the default constructor (i.e.) an empty constructor. In absence of which, the tables fail to get created.." why? Doesn't java create one by default?

[2015-10-28 10:18] Ovadia-B commented on #391
I just fixed that
https://github.com/satyan/sugar/pull/411/files

The master branch support multidex but filtering by domain package name was removed.

[2015-10-28 16:34] Andycharalambous commented on #382
I have the same problem - I can save 2 objects and then set one as child of the other using the sugar orm support for one-to-one relationships, but then when I retrieve the parent object later, the child relationship is always null.

E.g.

Parent p = new Parent();
p.save(); // id = 1 now.
Child c = new Child();
c.save();
p.setChild(c);
p.save();
p = Parent.findById(Parent.class, 1L);
assert p.getC

[2015-10-28 16:55] #397 closed

[2015-10-29 09:19] scognito commented on #371
I have the same problem, that's weird

[2015-10-29 14:41] pedrofsn commented on #169
Unfortunately, I moved my "ic_launcher" from "mimap" to "drawable". It's not a good solution, but it worked.

I'm using version 1.3.

[2015-10-29 17:36] sibeliusseraphini commented on #349
@suyambu did you manage to work on db creation on backuground thread

[2015-10-30 10:23] fanadd commented on #75
Does it make sence to throw an exception if SugarRecord<> successor doesn't have a default constructor?

[2015-10-30 17:27] #404 closed

[2015-10-31 19:51] srinivas69 opened #412 "java.lang.NoClassDefFoundError: com.orm.SugarDb"
Hi,

I'm using the sugar orm in my application.
Every thing seems to be fine with Android L, but when I try to run the same application it crashes saying NoClassDefFoundError.

10-31 19:34:44.612    1196-1196/? E/AndroidRuntime﹕ FATAL EXCEPTION: main
    Process: in.co.ybn.rancho, PID: 1196
    java.lang.NoClassDefFoundError: com.orm.SugarDb
            at com.orm.Database.<init>(Database.java:12)

[2015-11-01 15:31] yombunker opened #413 "Crash on some Samsung devices"
I have seen in certain devices (Samsung) that this keeps crashing everysingle time, do you have any idea of why this could happen ?

Fatal Exception: java.lang.IncompatibleClassChangeError: Couldn't find com.orm.dsl.Column.name
       at libcore.reflect.AnnotationAccess.toAnnotationInstance(AnnotationAccess.java)
       at libcore.reflect.AnnotationAccess.toAnnotationInstance(AnnotationAccess.java

[2015-11-02 05:40] HosseinKurd opened #414 "How to Composite Design Pattern with Sugar ORM"
Hi
As we know, we need to make our projects According to Design Patterns Standards.
So How to use Composite Design Pattern with Sugar ORM
The link below Explain it
https://en.wikipedia.org/wiki/Composite_pattern

[2015-11-02 07:08] blackvvine commented on #75
@fanadd I believe it does since SugarORM tries to instantiate it using reflection. It's not a code generator ORM.

[2015-11-02 08:09] adin234 commented on #344
any updates?

[2015-11-02 08:49] nicolabeghin commented on #344
up

[2015-11-02 11:48] kapilkapri007 opened #415 "Sugar ORM save() does not return any value"
save () must not have to be void ,
I want to perform some operation only when data is inserted successfully in the table but save () is of void type so it doesn't return anything .

[2015-11-03 14:54] RobinJ1995 opened #416 "Table names aren't quoted"
[code]

As you can tell from the generated query (`CREATE TABLE TABLE ( ID INTEGER PRIMARY KEY AUTOINCREMENT , NAME TEXT )`) table names aren't quoted. This means that some table names (like `table`) will cause problems.

[2015-11-03 14:58] sibeliusseraphini commented on #416
http://stackoverflow.com/a/695626/2628278

[2015-11-03 15:09] RobinJ1995 commented on #416
Regardless of whether some people would find this good practice or not, I would still consider this a bug.

[2015-11-03 17:25] RobinJ1995 commented on #416
Neither are field names, for that matter.

`11-03 17:23:54.155 15943-15943/be.robinj.restobill E/AndroidRuntime:  Caused by: android.database.sqlite.SQLiteException: near "TABLE": syntax error (code 1): , while compiling: CREATE TABLE BILL_ENTITY ( ID INTEGER PRIMARY KEY AUTOINCREMENT , TABLE INTEGER, CLOSED INTEGER )`

[2015-11-03 19:48] sibeliusseraphini commented on #416
@RobinJ1995 could you please to a PR to fix this? and add some tests for these cases?

[2015-11-04 08:27] TimCastelijns commented on #415
Check https://github.com/satyan/sugar/blob/master/library/src/main/java/com/orm/SugarRecord.java
It returns a long

[2015-11-05 13:09] siddhpuraamitr opened #418 "UnsatisfiedLinkError error"
Whenever I execute following code

List<BusinessFacilityInformation> tempFillForms = BusinessFacilityInformation.find(BusinessFacilityInformation.class, "MARKER_ID=?", String.valueOf(markerId));

I was getting below error

	java.lang.UnsatisfiedLinkError: dalvik.system.PathClassLoader[DexPathList[[zip file "/data/app/com.chorstreamforms-1/base.apk"],nativeLibraryDirectories=[/data/app/com.chorstre

[2015-11-05 17:07] siddhpuraamitr commented on #418
Finally I have resolved the issue by putting one line of IF condition in your code

In your **ReflectionUtil.java** file

There is function

    private static Class getDomainClass(String className, Context context) {

I have put below condition

        if(!className.contains("com.esri.core.analysis") && !className.contains("jcifs") && !className.contains("org.codehaus"))
            discoveredCl

[2015-11-06 08:51] issyzac commented on #391
Sorry, has it been merged with the master branch already? @Ovadia-B

[2015-11-06 18:49] jota-leal commented on #391
What @Ewg777 said did the trick for me.
I had the DOMAIN_PACKAGE_NAME meta-data tag in AndoidManifest.xml but the android:name attribute was misspelled. Correcting that stopped the error in Jelly Bean.

[2015-11-06 20:18] Ovadia-B commented on #391
I already had those meta tags and still had the problem
On Nov 6, 2015 8:49 PM, "Juan Ignacio Leal" <notifications@github.com>
wrote:

[2015-11-06 20:22] issyzac commented on #391
The meta tags worked for me too, if you are still getting the error try and make sure the meta tags are inside  <application></application> tags and not outside.

[2015-11-09 08:06] vahidaghakhany opened #419 "SQLiteException : duplicate column name in alter table in upgrade script"
i have force close in many of users, its about upgrade script.
i think sugar run upgrade script twice.

android.database.sqlite.SQLiteException
      :  duplicate column name
      :  HEAVY_NEG (code 1)
      :  , while compiling
      :  alter table FINE_TITLE add column HEAVY_NEG;

[2015-11-09 12:52] farmazon3000 opened #420 "Manifest merger failed : Attribute application@allowBackup value=(false) from AndroidManifest.xml:45:9-36 is also present at [com.github.satyan:sugar:1.3] AndroidManifest.xml:12:9-35 value=(true)"
Error:Execution failed for task ':app:processDebugManifest'.

  	is also present at [com.github.satyan:sugar:1.3] AndroidManifest.xml:12:9-35 value=(true)
  	Suggestion: add 'tools:replace="android:allowBackup"' to <application> element at AndroidManifest.xml:9:5-28:19 to override

[2015-11-09 13:28] farmazon3000 opened #421 "Adding sugar to app dependencies causes Gradle finished with non-zero exit value 1 (ic_launcher.png: error: Duplicate file)"
Like described here http://stackoverflow.com/questions/29965398/gradle-finished-with-non-zero-exit-value-1-ic-launcher-png-error-duplicate-fi

[2015-11-09 13:32] farmazon3000 commented on #421
All because there are icons (what for???) in:
[code]

[2015-11-09 14:45] farmazon3000 commented on #135
was this added to documentation or faq?

[2015-11-09 19:36] dangalg commented on #419
could it be you forgot to add the column in your last release to the migration file, and then tried adding it in a later version?
that's what happened to me and I have no idea how to fix it...

[2015-11-09 23:36] revg75 commented on #390
I am also in need of multiple database support. Any suggestions?

[2015-11-10 04:39] vahidaghakhany commented on #419
@dangalg i find how it created.
in new installation sugar create tables from model class then run migration files. i think sugar should be run migration file just for upgrade version and not for new version.

[2015-11-10 13:57] Ewg777 commented on #420
https://github.com/satyan/sugar/issues/406

[2015-11-11 14:11] black-snow commented on #324
@satyan is this project still being maintained? Is there gonna be a 1.4?

[2015-11-11 20:15] satyan commented on #324
@black-snow There is a 1.4 version on maven central. I'm yet to update the documentation though. You're free to use it.

[2015-11-11 20:19] satyan commented on #324
@sibeliusseraphini has been helping out with the issues lately.. Looking for some help on updating the documentation as per releases.

[2015-11-12 11:31] daybson opened #422 "Upgrading database Sugar ORM always delete previous table's data"
I have a database with Sugar ORM, and every time I create a new class that extends SugarRecord, I need to upgrade my database_version on android manifest to Sugar ORM recognize the new table. Ok till then.

The problem is that Sugar ORM is deleting all my previous data on every table of my database! I have a lot of data on them, and I can't delete it and reinsert it on every database upgrade.

The

[2015-11-12 13:13] black-snow commented on #324
@satyan great, are there any release notes / changelogs for 1.4? I'd help if I knew how to.

[2015-11-12 13:33] sibeliusseraphini commented on #324
we should move the changelog from README.md to a CHANGELOG.md, and try to follow this: http://keepachangelog.com/

we can check the commits and closed issues from 1.3 to 1.4 add this to changelog

[2015-11-12 14:34] black-snow commented on #324
+1 for this

[2015-11-12 17:59] sibeliusseraphini commented on #324
@satyan where is the commit or the release for the v1.4 ?

[2015-11-12 18:02] sibeliusseraphini commented on #324
I've moved changelog to CHANGELOG.md and update some info about it

[2015-11-12 19:44] satyan commented on #324
@sibeliusseraphini This was the commit for 1.4 before maven publish.. https://github.com/satyan/sugar/commit/01504511c5d657563b2da0817904cfa184f3fbe2

[2015-11-12 20:01] sibeliusseraphini commented on #324
@black-snow I've created the release for v1.4

I'll try to add the changelog, and see what to work for v1.5

[2015-11-12 20:56] stephenruda commented on #422
Have you tried using migrations? Check them out http://satyan.github.io/sugar/migration.html

[2015-11-13 10:23] StefanFaulhaber commented on #395
This didn't quite did the trick for me, but this solved it:

-keepclasseswithmembernames public class * extends com.orm.SugarRecord { *; }
-keepclasseswithmembernames class com.orm.** { *; }

Mind the expression in the curly braces at the end of the first line.

[2015-11-13 11:23] #395 closed

[2015-11-13 22:46] Ajibola opened #424 "ExceptionInInitializerError While database is initializing"
We have been using Sugar ORM for a while now and have an application in production with it. We have a table Stats that was not being setup and this caused that part of the code to throw errors. Now i can't seem to get anything to work, getting an ExceptionInInitializerError while the database is trying to initialize when the app launches for the first time. This error causes the app to crash.

Was

[2015-11-14 01:06] clay-to-n commented on #386
Agreed on this.  Upgrading to 1.4 from 1.3 is breaking, which means Sugar isn't following semantic versioning correctly - and there isn't an upgrade guide, so we don't know where to start besides looking through commits and issues.

This is a great library, but proper documentation is a necessity.

[2015-11-14 15:21] yakubpashask opened #425 "Fetching and saving Sugar record Async"
Hello,
I am new to Sugar record and loved it so much.
could some one suggest on creating the generic async class to save or retrieve sugar record object.

Thanks
yakub.

[2015-11-14 18:13] daybson commented on #422
No, I didn't tried this becasue it makes no sense write a sql script to create a new table since I created a new SugarRecord class (it should create the table automaticaly to me, right?). In my opinion, this "upgrade script" should be use only to alter something that already exists, or drop some table... . Am I right?

[2015-11-14 18:38] stephenruda commented on #422
I am not a developer for this project but here is my understanding of how it works...

When you modify or create a new table (Sugar Record) you have to upgrade the version number in the manifest.

-When you iterate the version number in the manifest, WITHOUT ANY MIGRATION SQL SCRIPTS, it will wipe away all your old tables and create the new ones in order to be certain that the new tables are corre

[2015-11-14 19:25] daybson commented on #422
I've made some tests right now:
* I created the table by upgrade script and the SugarRecord corresponding = data wiped
* I put a empty script and the SugarRecord corresponding = data wiped
* I created the table by script but not the SugarRecord = data ok!

Conclusion: doesn't matter what I do, if I create a new SugarRecord on my project, every data is wiped. This is awful ...

[2015-11-15 12:50] sibeliusseraphini commented on #425
you should use AsyncTask

[2015-11-15 12:50] #425 closed

[2015-11-16 01:27] JusticeRage commented on #424
I'm encountering the same bug, on multiple 4.0.3 and 4.0.4 devices.
Here is a sample stacktrace (I have many others if needed):

[code]
I think the problem comes from SugerORM.

[2015-11-16 08:00] rinkudas commented on #419
@dangalg you are correct. I am facing the same problem. Upgrade script is running twice. I am not able to Alter my existing table if I need to add one more extra column. Any idea how to handle this?

[2015-11-16 08:04] Ewg777 opened #426 "sqLiteDatabase not closed but it's Closeable"
[code]

[2015-11-16 09:09] umaso commented on #382
@Andycharalambous ,have you figured it out?I'm facing the same problem.with sugar1.3......the chlid relationship is always null.that's awful.

[2015-11-16 11:43] dnano91 commented on #75
I still have this error (non such table) with 1.4 and the documentation is still very much outdated. tried all of the above (version number, domain package name, clearing cache/deleting app) nothing worked

[2015-11-16 11:55] voghDev commented on #75
@dnano91  tried the empty constructor thing? see my comment above

[2015-11-16 12:40] dnano91 commented on #75
Yes, had an empty constructor anyway. That's why I forgot to mention it
Am 16.11.2015 12:55 schrieb "Olmo Gallegos" <notifications@github.com>:

[2015-11-16 12:52] hairiecs commented on #419
@dangalg, @rinkudas you are right. I'm facing the same problem as well. Not able to add a new column right now. Any workaround on this?

[2015-11-16 16:04] Ajibola commented on #424
It appears there is a fatal error while the DB is initializing, this causes the DB to be corrupted for the user. Not sure if it is purely from SugarDB or from 3rd party framework.

But it appears the error is on DB update. Right now i am trying to delete existing DBs where this error occurs.

[2015-11-16 18:17] nicconicco commented on #318
same problem...

[2015-11-16 23:03] MikeRzDev opened #427 "Sugar 1.4 Examples"
Hi, it seems like sugar 1.4 implements a lot of new features and deprecates also a lot of things, the example of "getting started" is not working with 1.4, could you please update the getting started page for 1.4, thank you!.

[2015-11-17 12:51] daybson opened #428 "Can't use Find or SearchWithQuery with multiples args"
I'm just doing:
Note.find(Person.class, "name = ? and title = ?", "satya", "title1");
or
Note.findWithQuery(Person.class, "Select * from PERSON where name = ? and title = ?", "satya", "title1");

.. and surprise?! Always return a list size 0, but If I do Person.listAll(Person.class) I cant get the elements. I already checked the parameters values, and they are correct.

I don't know what else to d

[2015-11-17 13:47] black-snow commented on #324
@sibeliusseraphini thanks

[2015-11-17 17:14] dnalves commented on #354
Any news on this matter? :)
Can anyone explain why MapMaker is being used? Because of the weak references?

[2015-11-18 11:10] omashano commented on #421
I had the same problem until this morning.
I renamed my icon and added `tools:replace="android:icon"` to my <application> tag in the manifest since it complained about a problem while merging the manifest files.

[2015-11-18 12:17] dab13491 commented on #234
Thanks eman !

[2015-11-18 12:32] JusticeRage commented on #391
This may have been closed too quickly.
I'm encountering this bug too on 4.4 devices using 23.0.2 build tools. Meta tags are correctly specified inside application tags. I run the latest commit of SugarORM.

Here is a full stack trace:
[code]

I tried applying @Ovadia-B's patch, but it caused `android.database.sqlite.SQLiteException`s instead (no such table).

[2015-11-18 13:28] omashano commented on #406
**Suggestion: add 'tools:replace="android:XXXX"' to element at AndroidManifest.xml to override**
just replace XXXX with the attribute you are having problems with and add to the <application> element in your Manifest. This way you will override any value set by the library for those attributes.

For example:
[code]

[2015-11-18 13:29] Ovadia-B commented on #391
@JusticeRage You need to increase the VERSION meta tag or reinstall the app.

[2015-11-18 17:24] JusticeRage commented on #391
@Ovadia-B Wow, this actually worked. I never had the problem on my device, but I was reproducing it on Amazon's AWS device farm which I assumed (and still kinda do) were wiped clean after each test run. Increasing the VERSION meta tag worked, but I'm confused as to why. Thanks for your help anyway, and I hope that your patch makes it to master.

[2015-11-19 08:13] shreenivas-ch opened #429 "Renaming column names"
when I define column as tablename_somecolumnname in java class, sugar ORM internally creates column  as tablenamesomecolumnname, because of this I am facing so much issues, and there is no proper documentation of why it does like this and what are all conditions where it changes column name. So I am shifting to normal android database implementation of creating DB.

[2015-11-19 17:42] #155 closed

[2015-11-19 17:54] sibeliusseraphini commented on #427
I'm trying to merge some pull requests, improve the changelog, and improve the docs.

In fact 1.4 should be 2.0 because it breaks if your upgrading from 1.3

@MikeRzDev - Feel free to dig into the code, and do some pull requests to improve README.md and docs in general

[2015-11-20 20:48] kadymuhammad commented on #269
Me too have the same problem with any version even the latest 1.4

[2015-11-22 10:39] marinovskiy opened #431 "Tutorial for 1.4 version?"
There are any tutorial for new 1.4 version? Cause last example was pushed 7-8 months ago.

[2015-11-22 15:05] nseidm1 commented on #429
It's not entirely a major issue. Camel case SugarRecords are also renamed to ex:

PushMmsMessage ---> PUSH_MMS_MESSAGE

I has trouble updating my databases to add columns, had no idea what the database name was :-P Had to dump the Sqlite databases from an emulator and view it on my comp.

[2015-11-23 10:23] vipinagrahari commented on #270
Is this Feature Ready?

[2015-11-23 12:09] sibeliusseraphini commented on #270
@vipinagrahari can you do a pull request for this feature?

[2015-11-23 13:20] daybson opened #433 "How to use SugarTransactionHelper?"
I can't find any example about how to use transactions with sugar orm.

[2015-11-23 14:26] leberrm commented on #424
Hello,
I have exactly the same error when I launch my application on my Android 4.4.2 but it works fine with my 6.0 device. The error occurs when calling product.save(); Did you find anything ? I also have the stacktrace if needed but it is really similar to the ones above.

[2015-11-23 14:58] sibeliusseraphini commented on #267
@bendaniel10 could you provide a pull request to fix this?

[2015-11-23 17:35] sibeliusseraphini commented on #354
@satyan I think this could help - https://github.com/mttkay/ignition/issues/23

[2015-11-23 17:36] sibeliusseraphini commented on #354
@dnalves MapMaker is used for Cache, but it is kind of deprecated

[2015-11-23 19:50] #267 closed

[2015-11-24 13:50] leberrm commented on #424
Good news ! I replaced this line in my Manifest :
<meta-data android:name="VALUE" android:value="2"/>
by this :
<meta-data android:name="VALUE" android:value="1"/>
and also added :
<meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.example.megan.sugartest" (which is supposed to be optional in SugarORM doc)
and now it works fine !

[2015-11-24 14:38] sibeliusseraphini commented on #428
@daybson why are you using Note.find(Person.class) instead of Person.find(Person.class) ?

can you provide your Note and Person class definition?

are you using proguard?

[2015-11-24 15:51] #75 closed

[2015-11-24 15:56] Ajibola commented on #424
currently sorting this out by deleting existing database file and letting it be reinitialized on the first call to sugar orm. It seems the error happens on upgrade.

String[] dbArray = this.databaseList();

            for (int i = 0; i < dbArray.length; i++) {
                String dbName = dbArray[i];

                if (dbName.contains("mydb"))
                    this.deleteDatabase(dbName);

[2015-11-24 16:10] sibeliusseraphini opened #435 "Add Mention-Bot to sugar"
https://github.com/facebook/mention-bot

[2015-11-24 17:19] sibeliusseraphini commented on #99
@emdete could provide a PR for this please

[2015-11-24 17:55] #153 closed

[2015-11-24 17:58] sibeliusseraphini commented on #156
@juhopek do you have any ideia how to fix it?

feel free to submit a PR for this.

[2015-11-24 18:03] sibeliusseraphini commented on #166
@abhirb1 could you provide a dump for your app?

[2015-11-24 18:35] #189 closed

[2015-11-24 18:36] sibeliusseraphini commented on #190
@pocha could you provide more information for this question?

[2015-11-24 18:59] #198 closed

[2015-11-24 19:00] #200 closed

[2015-11-24 19:40] #203 closed

[2015-11-24 19:53] sibeliusseraphini commented on #230
You don't need to extend SugarApp anymore, just call **SugarContext.init(this)** on onCreate of your Application
[code]

[2015-11-24 19:53] #230 closed

[2015-11-24 20:03] sibeliusseraphini commented on #226
maybe we should rethink how Sugar creates or transform collums names

[2015-11-24 20:04] #223 closed

[2015-11-24 20:06] #219 closed

[2015-11-24 20:06] #218 closed

[2015-11-24 20:08] sibeliusseraphini commented on #213
This is related to how SugarOrm transform column names to have the same pattern

[2015-11-24 20:08] #213 closed

[2015-11-24 20:10] #211 closed

[2015-11-24 20:10] #209 closed

[2015-11-24 20:17] #207 closed

[2015-11-24 20:22] sibeliusseraphini commented on #251
fixed

[2015-11-24 20:22] #251 closed

[2015-11-24 20:26] sibeliusseraphini commented on #255
this only happen in the first time you create the database, we should disable this log to improve performance

[2015-11-24 20:26] #255 closed

[2015-11-24 20:27] sibeliusseraphini commented on #256
merged on master

[2015-11-24 20:27] #256 closed

[2015-11-24 20:28] #262 closed

[2015-11-24 20:42] #268 closed

[2015-11-24 20:43] sibeliusseraphini commented on #269
Try to execute the first db operation in background using AsyncTask for instance, until we figure out how to improve it

[2015-11-24 20:43] #269 closed

[2015-11-25 04:58] JusticeRage commented on #424
I guess that would work, but deleting all data on error seems like bad user experience to me.

[2015-11-25 09:52] black-snow commented on #226
ORMs I know stick to the following convention:

* Columns are all in lower case.
* Transform camel case to snake case:
customersThatAreImportant => customers_that_are_important
OtherCustomers => other_customers
* Snake case stays as it is: emails_sent => emails_sent

The algorithm is quite simple; just transform any upper case letter to its lower case version and put an underscore before it unless

[2015-11-25 12:02] sibeliusseraphini commented on #226
@black-snow feel free to submit a pull request for this.

One problem that I think is how to migrate from an older version of sugar that is using the other column name convention, do you have an idea?

[2015-11-25 13:24] #276 closed

[2015-11-25 13:26] sibeliusseraphini commented on #279
@hoda0013 try to use the master version

[2015-11-25 13:26] #279 closed

[2015-11-25 13:26] #280 closed

[2015-11-25 13:27] sibeliusseraphini commented on #282
in the master version you don't need to extend SugarApp anymore, but you need to call SugarContext.init(this) inside onCreate of your Application

[2015-11-25 13:27] #282 closed

[2015-11-25 13:29] #298 closed

[2015-11-25 13:46] #302 closed

[2015-11-25 13:48] sibeliusseraphini opened #436 "import/export json"
enable import and export to json format

[2015-11-25 13:48] #305 closed

[2015-11-25 13:49] sibeliusseraphini commented on #305
#436

[2015-11-25 16:53] sibeliusseraphini opened #438 "put all the tests inside library module"

[2015-11-25 17:04] sibeliusseraphini commented on #354
fixed using #437

[2015-11-25 17:04] #354 closed

[2015-11-25 17:17] dnalves commented on #433
[code]

[2015-11-25 21:13] black-snow commented on #226
@sibeliusseraphini I ain't got no better solution than shipping this with a major release that might not be backwards compatible with the previous major version.

But let's rethink this. The original issue was (for me) that I had to use different column names in my queries. Actually I don't care what names the columns have as long as I can use the same identifier across all parts of the ORM on my

[2015-11-26 04:28] adist commented on #431
Yes, i also looking for this tutorial on this version...

I'm upgrading from 1.3 to 1.3.1 just work fine with same tutorial. But when i migrate to 1.4, my source doesn't affect to my DB. Especially @NotNull annotation.

Is there any different way to use this?

I'm waiting for this tutorial. Thanks ^_^

[2015-11-26 18:17] NoelChew commented on #409
this worked for me:
`-keep public class * extends com.orm.SugarRecord
-keep class com.orm.** { *; }
-dontwarn com.google.common.**`

the last line is essential as well.

[2015-11-27 03:18] pocha commented on #190
Sorry, its been quite sometime I did any Android coding.
On Nov 25, 2015 12:36 AM, "Sibelius Seraphini" <notifications@github.com>
wrote:

[2015-11-27 11:08] #190 closed

[2015-11-27 11:08] sibeliusseraphini commented on #409
ok

[2015-11-27 11:08] #409 closed

[2015-11-27 14:26] sibeliusseraphini commented on #435
@satyan could you please just setup the mention-bot it is really simple

[2015-11-29 10:34] nurolopher opened #439 "First time app initialization"
When I run my app for the first time no upgrade scripts are being executed. It's because of the following code inside `SQLiteOpenHelper`. Because there are no databases available `version` is `0` so the `onCreate(db)` is executed and the version number is set to `mNewVersion`(VERSION inside `AndroidManifest.xml`. This means no `onUpgrade` or `onDowngrade` scripts are executed.

This means all the

[2015-11-30 06:29] VLEIX commented on #429
Read the last lines from http://satyan.github.io/sugar/query.html :)

[2015-11-30 06:33] VLEIX commented on #413
In my Samsung works fine :/

Check the documentation http://satyan.github.io/sugar/getting-started.html

[2015-11-30 11:01] adiyatmubarak opened #442 "Table Creation Order"
Hii I create an application with SugarORM by following quick start in http://satyan.github.io/sugar/getting-started.html

I have 2 Activities & 2 models.
Activities:
    - `HomeActivity`
    - `LoginActivity`
Models:
    - `AuthToken`
    - `Promo`

and the first activity is `HomeActivity` and there is Promo query at this activity, the problem is sugar ORM create my entities when I opening my `Log

[2015-11-30 19:35] satyan commented on #435
@sibeliusseraphini I've set it up.. thanks.

[2015-11-30 19:53] sibeliusseraphini commented on #435
thanks

[2015-11-30 19:53] #435 closed

[2015-12-01 13:16] furedal opened #443 "1.4 Relationships does not save or populate."
Well, I am trying a simple 1 - 1 relationship between Session and User. I expect that User will be saved when doing save on Session. And then when i do a find, i expect that I will be returned Session with User populated.
When i makes a find, I will only get session but user will stay as null.

Here are my models:

[code]

Are my expectations wrong or am i missing something ?

[2015-12-01 13:52] nicolabeghin commented on #391
I confirm the @Ovadia-B patch fixes the issue but only partially, meaning that classes inside the defined package (DOMAIN_PACKAGE_NAME) are correctly handled, while the one outside BUT marked with @Table annotation are not. This was working before (I have a production app working like this)

[2015-12-01 14:03] nicolabeghin commented on #424
I think it's useful to take a look at issue #391

[2015-12-01 14:10] sibeliusseraphini commented on #418
closing now because a multidex support PR was merged on master

[2015-12-01 14:10] #418 closed

[2015-12-01 14:18] sibeliusseraphini commented on #443
@furedal are you using the master version?

did you save the **User** first? and then saved the **Session** using the User saved? like this?

[code]

[2015-12-01 14:27] furedal commented on #443
@sibeliusseraphini i am using master or at least the one from gradle `'com.github.satyan:sugar:1.4'`

No.
Do i have to save `user` before saving `session` as you suggested? I was trying to go through the source, but I can't say if it does a save on the relationship entities.
Right now I am doing an ugly workaround until I find out how to use it. (Sugar is the only ORM i managed to compile correctl

[2015-12-01 15:29] sibeliusseraphini commented on #443
Now, you should save the SugarRecord first, before of reference it in another SugarRecord, like the example above

You can provide a pull request to manage this issue, to check whether the reference field is already saved

[2015-12-01 15:51] furedal commented on #443
so in my case
[code]
Then i should be able to populate session and user by calling
[code]

This example still sets user = null

[2015-12-01 16:17] sibeliusseraphini commented on #443
Try to save the user first, and then assign to Session

[code]

Add a test case for this example and see if it fails

[2015-12-01 16:31] furedal commented on #443
Well i obviously must have made some mistake before because it seems to be working now. I guess the documentation should cover such details for further developers.

[2015-12-01 17:07] #398 closed

[2015-12-01 17:24] skarllot opened #445 "Support for null relationship"
Sugar ORM currently does not support null relationship.

E.g.
[code]

If I try to save a Table1 instance with null relationship, then a NullPointerException is thrown.
[code]

[2015-12-01 17:43] smholsen opened #446 "Saving an Image using Sugar ORM"
Hello!

So, I am trying to save an Image using sugarORM.
I first turn it into a ByteArray, and save the byteArray, and then when loading, I turn that byteArray back into a BitMap.

Now, All the other values I am saving works fine, and I have also tried to display the image by first making it into a byte array and then turning it back into a Bitmap and then deisplaying it. This works fine. The prob

[2015-12-01 18:00] sibeliusseraphini commented on #446
are you calling **.save()** in TrackedEvent after **saveImage()** ?

The TrackedEvent will only store the image on the database when you call the save method on SugarRecord

[2015-12-01 18:02] smholsen commented on #446
Yes, in the MainActivity they are called in this order:

                newEvent.saveImage();

                newEvent.save();

Where newEvent is an object of the type TrackedEvent.

[2015-12-01 18:18] sibeliusseraphini commented on #446
What is the result of these logs? Log newEvent.imageToSave after newEvent.save() as well, try to use the Android Studio debug to check the behavior of SugarRecord save method

[code]

[2015-12-01 18:20] smholsen commented on #446
Hey mate I just found out I was using this:
compile 'com.github.satyan:sugar:1.3'
instead of this:
compile 'com.github.satyan:sugar:1.4'

After changing this it now works! =)

[2015-12-01 18:39] sibeliusseraphini commented on #446
I think you should use the debug to find the reason for this error

[2015-12-01 18:40] sibeliusseraphini opened #447 "fix travis config + coverage report"

[2015-12-01 18:41] smholsen opened #448 "[Question] Errors when trying to retrieve saved data"
I earlier posted this thread: https://github.com/satyan/sugar/issues/446 (Thanks alot for the help btw! :)

But since I cant re-open threads I started a new Issue (Sorry if this was the wrong way to do it)  )

Well, I guess changing it helped, but I ran into another problem:
Now I think the saving works fine, I get this confirmation in the Log after saving,

    12-01 19:28:27.959 14386-14386/com.

[2015-12-01 18:48] #448 closed

[2015-12-01 18:51] smholsen commented on #446
I will try to do this, but I unfortunately have no experience on how to use the debug mode in android studio, and while running the app on my device. So I kinda have little knowledge on how to do it :p But I am still supposed to reference the saved data the same way, right?

Like for example

    TrackedEvent.listAll(TrackedEvent.class)

?

Sorry for stupid questions and stuff, but I am kinda new

[2015-12-01 19:02] sibeliusseraphini commented on #446
http://developer.android.com/tools/debugging/debugging-studio.html

[2015-12-01 21:10] smholsen commented on #446
Is Context a required argument in v1.4? =)

[2015-12-01 21:37] smholsen commented on #446
Ok, so I ran the debugger, both on the save() method and on the

    TrackedEvent.findById(TrackedEvent.class, Long.valueOf(1)) .

On the save() method it looked to me as everything ran through smoothly, but when testing the

    TrackedEvent.findById(TrackedEvent.class, Long.valueOf(1))

I ran into some trouble.
I believe it ran OK all the way untill it was supposed to pick out the first element

[2015-12-01 21:43] sibeliusseraphini commented on #446
I think there is not a TrackedEvent with ID 1, that's the problem. Try to Log all TrackedEvents with theirs IDs

[2015-12-02 11:38] smholsen commented on #446
Thanks for the tips! :)
So, I tried to do this:

        for (TrackedEvent savedEvent : TrackedEvent.listAll(TrackedEvent.class)){
            Log.i("checkEvents", String.valueOf(savedEvent.getId()));
        }

But I get the same error:

    12-02 12:28:35.601 15545-15545/com.simonm.bigdaycountdown E/CursorWindow: Failed to read row 0, column 0 from a CursorWindow which has 0 rows, 5 columns.

[2015-12-02 12:18] sibeliusseraphini commented on #446
@smholsen could you update to sugar 1.4 (or master), and try to debug the listAll method?

[2015-12-02 17:10] sibeliusseraphini commented on #429
@shreenivas-ch @nseidm1 you guys can use NamingHelper.toSQLName(Model.class) to get the name of the TABLE

you can also use @Column(name="columnName") to define a custom column name for a property

[2015-12-02 17:10] #429 closed

[2015-12-02 17:12] sibeliusseraphini commented on #313
proguard related issues

[2015-12-02 17:12] #313 closed

[2015-12-02 17:27] sibeliusseraphini commented on #240
Table/Column DSL is available on 1.4 and on master

[2015-12-02 17:27] #240 closed

[2015-12-02 17:28] sibeliusseraphini commented on #265
you can use @Column to use a specific columnName

[code]

[2015-12-02 17:28] #265 closed

[2015-12-02 17:32] sibeliusseraphini commented on #335
we need to improve how Sugar convert property to column names on database, closing for now

[2015-12-02 17:32] #335 closed

[2015-12-02 17:34] sibeliusseraphini commented on #48
now we have @Column annotation that enable us to use any name for a specific column

[2015-12-02 17:34] #48 closed

[2015-12-02 18:13] ontur00 commented on #50
I have a problem when I delete the application file database. Then there is an error android.database.sqlite.SQLiteException: no such table Province, but when I push a database to emulator of all CRUD operations are performed.

Link how look manifest
http://wklej.org/hash/d6732855df6/

[2015-12-02 18:21] sibeliusseraphini commented on #50
@ontur00 which version of sugar are you using? why are you deleting the database file?

[2015-12-02 18:25] ontur00 commented on #50
compile 'com.github.satyan:sugar:1.3'
Beacuse i trying method which check if( database != exist )  then i want create .db file

[2015-12-02 18:33] sibeliusseraphini commented on #50
try to use 1.4 or master version

[2015-12-02 18:45] ontur00 commented on #50
I need only change 1.3 to 1.4   and   extends SugarRecord    - without <T>

[2015-12-02 18:53] smholsen commented on #446
I am using version 1.4.
So, the error I posted in my last comment was actually from version 1.4 and using the listAll method.. Is there anything specific I should look for while doing the debugging?

[2015-12-02 18:54] sibeliusseraphini commented on #446
try to see in which method it crashes

[2015-12-02 18:58] ontur00 commented on #50
I have problem manifest
<application
   android:allowBackup="true"
   android:icon="@drawable/ic_launcher"
   android:theme="@style/AppTheme">

Error:(16, 23) No resource found that matches the given name (at 'icon' with value '@drawable/ic_launcher').

[2015-12-02 19:20] sibeliusseraphini commented on #50
do you have a drawable ic_launcher?

[2015-12-02 20:17] smholsen commented on #446
Ok, so I believe the crash happens here:

    private SQLiteDatabase(String path, int openFlags, CursorFactory cursorFactory,
            DatabaseErrorHandler errorHandler) {
        mCursorFactory = cursorFactory;
        mErrorHandler = errorHandler != null ? errorHandler : new DefaultDatabaseErrorHandler();
        mConfigurationLocked = new SQLiteDatabaseConfiguration(path, openFlags);
    }

[2015-12-02 20:44] sibeliusseraphini commented on #446
maybe it is a problem in your manifest

we can talk tomorrow on [![Join the chat at https://gitter.im/satyan/sugar](https://badges.gitter.im/Join%20Chat.svg)](https://gitter.im/satyan/sugar?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge)

[2015-12-02 21:29] smholsen commented on #446
That would be awesome! Thanks alot! :)

What time will you be on there you think? What timezone? :)

[2015-12-03 08:11] colabug commented on #443
I'm running into the same issue, but have JSON parsed by GSON so I already have a POJO:

    Task
    -- id
    |----------Customer
    |----------Installation

Seems strange to save the customer and installation separately. Thought the relationships would be automatically managed.

So for my saving code, I'm iterating through the response body (from retrofit):

    private void storeDataInDb (Res

[2015-12-03 09:01] colabug commented on #443
OK, update and new problem.

I added the `@Unique` annotation to my primary key and now it is saved as I expect.

[code]

However, when I try to find all of the items with `List<Task> list = Task.listAll( Task.class );` it gives me this error:

[code]

**Task.java**
[code]

**Customer.java**
[code]

[2015-12-03 09:02] colabug commented on #443
Will file/look for existing bugs for the last reported issue with overriding the primary key.

[2015-12-03 09:23] colabug commented on #414
Looks like you have to save each item separately: https://github.com/satyan/sugar/issues/443

That said, not sure how complex the object can be/how deeply nested.

[2015-12-03 09:24] colabug commented on #431
Yeah, it's confusing to get started. +1 for a 1.4 tutorial

[2015-12-03 09:40] colabug commented on #333
Any movement on this -- this is what I need as well.

[2015-12-03 09:49] colabug commented on #79
Is there a beta version that we can try out?

[2015-12-03 12:29] sibeliusseraphini commented on #79
@colabug we still need to work on this

[2015-12-03 12:42] sibeliusseraphini commented on #333
@dangalg @bkawakami @colabug you can use **getCursor** from **SugarRecord**:

[code]

Example:
[code]

You should use **inflate** method of **SugarRecord** to inflate a SugarRecord

You can check CursorIterator next method inside SugarRecord on how to to that

We need to improve this interface

[2015-12-03 12:43] sibeliusseraphini commented on #431
I've put some examples using 1.4 and master repo on [README.md](https://github.com/satyan/sugar/blob/master/README.md)

[2015-12-03 12:43] #431 closed

[2015-12-03 13:21] #368 closed

[2015-12-03 13:22] sibeliusseraphini commented on #366
@makunomark did you change any of your fields types?

this happen when you change the fields and didn't upgrade your database version

[2015-12-03 13:22] #366 closed

[2015-12-03 13:23] #357 closed

[2015-12-03 13:27] ontur00 commented on #50
I try at new TestProject.
I add
    compile 'com.github.satyan:sugar:1.4'    - sync project   - to gradle
    new class at package where is my activity (com.example.user.testsugar1_4 )
    in my main activity     Book book = new Book("isbn123", "Title here", "2nd edition");
    Book.save();   and :

Exception :
Caused by: java.lang.NullPointerException: SugarContext has not been initialized proper

[2015-12-03 14:03] sibeliusseraphini commented on #50
[code]

[2015-12-03 14:15] sibeliusseraphini opened #454 "Lose of SugarRecord reference when you update"
If you have this models:
[code]
And you have this situation:
[code]
If I have the same company with a different description:
[code]
The Employee will reference a Company that does not exist anymore because of this line in **save()**

[code]

It is not better to just update the description field and keep the old id, so Employee does not lose the reference to its company?

[2015-12-03 15:59] smholsen commented on #446
So, my problem was veyr similar to this:

http://stackoverflow.com/questions/26783143/error-while-trying-save-and-retrieve-images-into-database-in-android/26797130#26797130

Where 2 different solutions are posted.

I am basically just going to store the images locally and then just save the url to the images with sugar :)

Thanks alot for the help! :)

[2015-12-03 15:59] #446 closed

[2015-12-03 20:46] ontur00 commented on #50
I fixed I use a 1.3, I had a mistake in the manifesto

<meta-data android: name = "DOMAIN_PACKAGE_NAME" android: value = "com.example.akilaptop.wrongPackage.Model" />

Advice to other check if you have a well-configured manifest

[2015-12-04 11:24] sibeliusseraphini commented on #447
@nurolopher this is end of the log of your build - https://travis-ci.org/satyan/sugar/builds/94757166

[code]

So in fact, the tests are not working on travis, and the coverage report is not being generated [coveralls.io ](https://coveralls.io/github/satyan/sugar)

[2015-12-04 11:26] nurolopher commented on #447
Ok. Today after work will work on it.

[2015-12-04 17:05] Ajibola commented on #424
@nicolabeghin you are right, currently adding domain package name solves the error, but testing with master branch with fix for multidex support, still got the error.

[2015-12-04 17:37] sibeliusseraphini commented on #424
@Ajibola could you post your logs? I do not have an Android 6.0 to test right now

[2015-12-04 18:23] nicolabeghin commented on #424
@sibeliusseraphini in my case this happens on < 6.0. I can confirm it doesn't work on android 4.3 and 4.4 when compiling with targetSdk 23 and support library 23.0.1

[2015-12-04 18:33] sibeliusseraphini commented on #424
@nicolabeghin maybe this PR #362, could fix it

[2015-12-04 19:22] nurolopher commented on #442
Sugar ORM will create the database when you first launch your app. It doesn't create the tables until the first query to the database.

[2015-12-04 19:44] #442 closed

[2015-12-04 19:46] sibeliusseraphini opened #458 "Improve coverage"
We need to add more tests to improve coverage

[2015-12-05 20:51] #439 closed

[2015-12-05 21:33] nurolopher commented on #458
Began working on it.

[2015-12-06 16:06] vicktorious opened #461 "Abstract class retrive error"
Hello!

I'm trying to use SugarORM, in my code, but i had some issues when trying to retrive my data.
Sticking to your example with Book and Author, Author is an abstract class for me, i use Sugar like:

public class Book extends SugarRecord<Book> {
  String name;
  String ISBN;
  String title;
  String shortSummary;

  // defining a relationship
  Author author;
}

public abstract class Author ex

[2015-12-07 08:56] nicolabeghin commented on #424
thanks @sibeliusseraphini! I can confirm it solves the issue.
this is my build.gradle.

    dependencies {
        compile 'com.android.support:design:23.0.1'
        compile 'com.android.support:appcompat-v7:23.0.1'
        compile 'com.android.support:cardview-v7:23.0.1'
        compile 'com.android.support:recyclerview-v7:23.0.1'
        compile 'de.hdodenhof:circleimageview:1.3.0'
        comp

[2015-12-07 09:39] husyn commented on #424
I've tried
compile 'com.github.satyan:sugar:f8eb02eb7671538054ec88bb0f408fa3532e9fe1'
compile 'com.github.satyan:sugar:1.3'
compile 'com.github.satyan:sugar:1.4'

tried with DOMAIN_PACKAGE_NAME and without it. I'm on 4.4.2 and this library is not working for me in any case :-1:

[2015-12-07 11:23] sibeliusseraphini commented on #424
fixed with #362

[2015-12-07 11:23] #424 closed

[2015-12-07 17:35] sibeliusseraphini commented on #461
@vicktorious did you save Author before saving the Book?

[2015-12-07 17:36] #447 closed

[2015-12-07 17:49] sibeliusseraphini commented on #445
@skarllot, the master version does not have this problem, it will put a 0 instead of null on the field1 of Table1

I think it should put null instead, I will investigate more on this issue

[2015-12-07 17:53] #445 closed

[2015-12-07 17:56] #428 closed

[2015-12-07 17:58] sibeliusseraphini commented on #396
@MisterSpicy could you post your SugarRecords?

[2015-12-07 18:00] #388 closed

[2015-12-07 18:08] vicktorious commented on #461
I do!

I tried a bit harder and noticed, that i cant "cast upper" and save as a super class, so i wont be able to reach this entity as az Author. Now I am doing is, this:

public class Book extends SugarRecord implements Serializable {
String name;

String genre;

// defining a relationship
CrimeAuthor cAuthor;
StgAutho sAuthor;
...

public void Book(String name, String genre, Author author){
   t

[2015-12-07 18:34] sibeliusseraphini commented on #461
Sugar will create 3 tables (Author, CrimeAuthor and StgAuthor)

We can think in code one or more of this options (http://stackoverflow.com/a/3579462/2628278) in Sugar

feel free to send a PR for this

[2015-12-07 19:29] sibeliusseraphini commented on #266
We probably need to serialize a List of primitives

http://stackoverflow.com/questions/1517771/is-it-possible-to-save-a-list-of-values-into-a-sqlite-column
http://stackoverflow.com/questions/3142285/saving-arraylist-in-sqlite-database-in-android

[2015-12-08 10:10] mesterj opened #463 "@Table annotation not working in 1.4"
Hello

I tried my entities with @Table (com.orm.dsl.Table) annotation, but when I use this I can't get SugarRecord methods when I call entity object. With extends SugarRecord everything is good.

Will you fix it, or when I use @Table I need use SugarORM in a different way, which is recommended in next version?

Thank you, for fast response.

[2015-12-08 11:08] sibeliusseraphini commented on #463
@mesterj if you use @Table annotation, your model will not have SugarRecord methods, you need to use the static methods of SugarRecord instead

[code]

[2015-12-08 11:08] #463 closed

[2015-12-08 11:47] mesterj commented on #463
Which of them recommended? Annotation or extending SugarRecord?

[2015-12-08 12:01] sibeliusseraphini commented on #463
It does not matter, it is up to you

[2015-12-08 12:12] mesterj commented on #463
Thank you. I think I will extending SugarRecord...

[2015-12-09 09:53] HendraAnggrian opened #464 "java.lang.NoClassDefFoundError: Failed resolution of: Lcom/google/common/collect/MapMaker"
I followed the code from example:

[code]

I got `java.lang.NoClassDefFoundError` from `SugarContext.init(this)`
On top of that, I also receive:

D/sugar: Couldn't find config value: DATABASE
D/sugar: Couldn't find config value: QUERY_LOG
D/sugar: Couldn't find config value: VERSION

I am very sure I have setup the meta-data tag similar to the example. What could be the issue?

[2015-12-09 12:19] sibeliusseraphini commented on #464
@HendraAnggrian are u using 1.3 ? or 1.4? or master version?

[2015-12-09 17:59] HendraAnggrian commented on #464
I am using 1.4 jar version

[2015-12-10 14:39] rastoarpit commented on #10
After upgrading my sugar[using 1.3] record, with alter table query i am adding a column to existing table.
Column is there but when i add a value and save it then it does not work rather it takes a null/default value even after the upgrade. While everything works great on fresh install where table gets created with this column already.

[2015-12-11 08:16] haoliguo commented on #464
how to solve it?

[2015-12-11 08:22] HendraAnggrian commented on #464
@haoliguo are you experiencing the same issue? I'm temporarily switching back to v1.3

[2015-12-11 09:50] mesterj opened #465 "When SugarOrm db's created"
Hello

I want fill some of my database from rest service after application first start. I see in the log , I trying acces rest service before the sugarorm database created. How can I force database creating?
I use 1.4.

[2015-12-11 09:58] sibeliusseraphini commented on #465
the database will create in the first data insert

[2015-12-11 10:15] mesterj commented on #465
Hmmm... I see the tables created after Activity onCreate finished.
Now I created a workaround . I am downloading rest data in a fragment onActivityCreated() method and looks like correct.

[2015-12-11 10:15] #465 closed

[2015-12-11 10:16] mesterj commented on #465
Not just the two tables created what I want to fill , all tables created.

[2015-12-11 16:36] sibeliusseraphini commented on #464
@HendraAnggrian your code is the same: https://github.com/satyan/sugar/blob/master/library/src/main/java/com/orm/SugarApp.java, maybe it is a problem with your manifest or a problem with multidex

[2015-12-11 18:23] sibeliusseraphini commented on #299
fixed with #328

[2015-12-11 18:24] #299 closed

[2015-12-11 18:24] sibeliusseraphini commented on #151
fixed with #328

[2015-12-11 18:24] #151 closed

[2015-12-12 06:10] MBehtemam opened #466 "Many-to-One relation"
hi , how to implement many to one ? for example between book and author can i use something like this :

     class Book {
     }

    class Author{
       .......
      List<Book> books;
    }

[2015-12-12 06:27] haoliguo commented on #60
sorry,who can give me one full example about one-to-many?I'm always not success~Thanks~

[2015-12-12 07:45] LarryLGHao commented on #466
I have the same question~

[2015-12-12 08:06] LarryLGHao commented on #464
@HendraAnggrian     the jar1.4 still can not run~Now I use the  latest libary,the bug is fixed~ And I try to use "compile 'com.github.satyan:sugar:1.4'" int the AS,but get the error "...finished with non-zero exit value 2",Should be some jar repeated,then I remove the repeated when I found,but the error still exist~

[2015-12-12 08:56] sibeliusseraphini commented on #466
You can add a Author to a Book class, and use a method to retrieve all the Books of an Author
[code]

We still do not support List<Book> books syntax, you can provide a PR to handle this if you want to

[2015-12-12 09:33] LarryLGHao opened #467 "Call saveInTx(), ReflectionUtil.java_getDomainClass() NullPointerException"
![image](https://cloud.githubusercontent.com/assets/6928056/11761261/f5aedcce-a0f5-11e5-984f-61d90ff762b0.png)

[2015-12-12 10:44] LarryLGHao commented on #466
@sibeliusseraphini
1 save Author and Book by ourself manual? save Book must before save Author?
2 I add Author in the Book as your doc,but look into the db file, the column author is null,why?
3 "author.getId()",how to get  Object "author"?use "this" replace?

[2015-12-12 20:11] sibeliusseraphini commented on #466
@LarryLGHao , I've updated my comment above, it was wrong.

- First, save Author,
- Assign author to Book,
- Save book

Then you will have a Book with a foreign key to Author, however we still do not apply foreign constraint yet (https://www.sqlite.org/foreignkeys.html)

You can check your database structure using this steps:
- adb shell
- run-as com.example (your package)
- cat /data/database.db

[2015-12-13 07:55] isdzulqor opened #468 "getCount method to check existing column or record table"
I'd like to get a value from a table. If the column does not contain any value, then I am going to insert one. So I need getCount in my case.
My question is how to use getCount in this library, could you give me sample code, please? And where I can get the .db file to see my record table

[2015-12-13 07:57] isdzulqor commented on #269
I have problem, guys... I'd like to get a value from a table. If the column does not contain any value, then I am going to insert one. So I need getCount in my case.
My question is how to use getCount in this library, could you give me sample code, please? And where I can get the .db file to see my record table

[2015-12-13 07:57] isdzulqor commented on #122
I have problem, guys... I'd like to get a value from a table. If the column does not contain any value, then I am going to insert one. So I need getCount in my case.
My question is how to use getCount in this library, could you give me sample code, please? And where I can get the .db file to see my record table

[2015-12-13 07:58] isdzulqor commented on #354
I have problem, guys... I'd like to get a value from a table. If the column does not contain any value, then I am going to insert one. So I need getCount in my case.
My question is how to use getCount in this library, could you give me sample code, please? And where I can get the .db file to see my record table

[2015-12-13 12:31] sibeliusseraphini commented on #354
@isdzulqor you can use method **count** of SugarRecord

[2015-12-13 12:36] sibeliusseraphini commented on #468
@isdzulqor you can use method **count** of SugarRecord

[2015-12-13 12:41] sibeliusseraphini commented on #468
To get the database from your mobile phone you can something like this:

[code]

[2015-12-13 12:41] #468 closed

[2015-12-13 12:55] isdzulqor commented on #468
first, you dont write <SimpleModel> after extends SugarRecord.. Is it allowed?
secondly, I dont use linux I am using window... so
adb shell
run-as com.example
cat /databases/db.name > /sdcard/db.name
adb pull /sdcard/db.name .

it's not working for me

[2015-12-13 13:08] sibeliusseraphini commented on #468
"first, you dont write after extends SugarRecord.. Is it allowed?" - I didn't understand that, sorry.

about it is not working on windows, you should configure your system to allow access adb from your command line [maybe this help](https://www.google.com.br/search?q=configure+adb+window&oq=configure+adb+window&aqs=chrome..69i57.3630j0j7&sourceid=chrome&es_sm=91&ie=UTF-8)

[2015-12-13 13:21] isdzulqor commented on #468
public class StatusLogin extends SugarRecord<StatusLogin> {
    String email_user;
    Boolean status;

    public StatusLogin(String email_user, Boolean status) {
        this.email_user = email_user;
        this.status = status;
    }

    // Default constructor is necessary for SugarRecord
    public StatusLogin() {
    }
}

I initialize my db like above. So I need <StatusLogin> in my class. a

[2015-12-13 13:22] isdzulqor commented on #468
public class StatusLogin extends SugarRecord<StatusLogin> {
    String email_user;
    Boolean status;

    public StatusLogin(String email_user, Boolean status) {
        this.email_user = email_user;
        this.status = status;
    }

    // Default constructor is necessary for SugarRecord
    public StatusLogin() {
    }
}

I need <StatusLogin> in my class above. and you wrote without <Simple

[2015-12-13 13:31] isdzulqor commented on #468
![capture](https://cloud.githubusercontent.com/assets/12388558/11767200/73106e5c-a1d8-11e5-99a3-f453629bdebf.PNG)
![capture2](https://cloud.githubusercontent.com/assets/12388558/11767201/79107d7e-a1d8-11e5-9fd2-8e77b5c698d2.PNG)
It's not working. It needs two or three parameters.

[2015-12-13 14:16] sibeliusseraphini commented on #468
use version 1.4 or master version, this is fixed there

The readme has some examples of the latest version, until I updated the documentation

[2015-12-13 18:25] heroic opened #469 "Some tables not generated"
Weirdly, one of my app works fine, but in the other, out of 7 tables, only 5 are being generated. Also, if I am not wrong, tables should be generated at app launch, however, they seem to be created only after the onCreate of launcher activity.

The error I am getting is:

    android.database.sqlite.SQLiteException: no such table: DISH (code 1): , while compiling: SELECT * FROM DISH

I am currentl

[2015-12-13 18:51] wirawansanusi opened #470 "What is table E? (Proguard issues)"
Hi guys, I'm having an issue with Sugar ORM on my proguard settings
without writing any rules, I got this error messages:
[code]
[code]
Adding this line in proguard settings
[code]
Gives me this error :
[code]
[code]
I also tried this following lines
[code]
and
[code]
It still gives me the same errors.

This is my only class that's extends Sugar ORM
[code]
--
Everything is working fine in Debug mo

[2015-12-13 19:28] sibeliusseraphini commented on #470
try this please
[code]

[2015-12-13 19:31] sibeliusseraphini commented on #469
@heroic could you please debug the method **getDomainClasses** in **ReflectionUtil** please, to check what is going on in your code.

[2015-12-13 19:36] heroic commented on #469
So it turns out that since one of my relations is Order, and since Sqlite is refusing to create Order, this table wasn't formed. However, Sugar 1.4 didn't report an error for this. 1.3 did!

[2015-12-13 19:57] sibeliusseraphini commented on #469
1.4 fixed your problem?

[2015-12-13 20:07] heroic commented on #469
Nope. 1.4 didn't report the problem. 1.3 only reported the problem. I had to rename the table to get the issue to go away.

[2015-12-13 20:11] wirawansanusi commented on #470
Thanks for your reply @sibeliusseraphini !

I have tried your suggestion. Unfortunately, it still gives me the same error with **Table Product: not found.**

Since I'm new when it comes to proguard settings. I just want to make sure if I wrote it right
[code]
Am I doing it right? This is my file hierarchy :
* com.organization.appname
 * model (package)
    * Product (java)

[2015-12-13 20:15] sibeliusseraphini commented on #470
@wirawansanusi it should be:

[code]

[2015-12-13 20:15] sibeliusseraphini commented on #469
Why is Order table not being generated?

[2015-12-13 20:22] wirawansanusi commented on #470
@sibeliusseraphini Sorry, it was my mistake. I did write it
[code]
without Product

[2015-12-13 20:26] sibeliusseraphini commented on #470
For your parcel you should try this lib:[parceler](https://github.com/johncarl81/parceler)

try to read proguard documentation, to see how to keep the classes name and attributes

[2015-12-13 20:36] wirawansanusi commented on #470
I tried removing the Parcelable from my Product class and it still gives me the same error.

[2015-12-13 21:06] wirawansanusi commented on #470
--**Problem solved**--

Apparently, I forgot to change the domain package name after changing the package name.
Like @sibeliusseraphini said :
[code]
did the trick.

Thanks!

[2015-12-13 21:07] #470 closed

[2015-12-14 02:03] LarryLGHao commented on #466
@sibeliusseraphini Thanks a lot~

[2015-12-14 02:06] sibeliusseraphini commented on #466
You're welcome

[2015-12-14 02:06] #466 closed

[2015-12-14 13:01] mesterj opened #471 "no such column"
I have a table

class Partner extends SugarRecord

@Unique
String partnerKod;

When I want to search for partnerKod like this query

String kod = "STGH";
Partner.find(Partner.class, "partnerKod = ?',kod)
I have got an error: SQLiteLog: no such column

It is 1.4

[2015-12-14 13:17] sibeliusseraphini commented on #471
@mesterj try to use NamingHelper.toSQLName or NamingHelper.toSQLNameDefault in your Field, to check database name of the column

[2015-12-14 13:24] #467 closed

[2015-12-14 13:24] #464 closed

[2015-12-14 17:19] sibeliusseraphini commented on #358
@vincent-leonardo

How did u implemented the parsedByRetroFit?

Sugar doesn't support this structure yet, you should try this:

[code]

[2015-12-14 17:19] #358 closed

[2015-12-14 17:20] sibeliusseraphini opened #472 "Add foreign key constraint"
Sugar doesn't add foreign key contrainst yet

We should base in this [Foreign Key](https://www.sqlite.org/foreignkeys.html)

[2015-12-14 17:22] sibeliusseraphini commented on #412
it's fixed on master

[2015-12-14 17:22] #412 closed

[2015-12-14 17:24] sibeliusseraphini commented on #419
In master version, Sugar will automatically generate new columns added to models - fixed with #328

[2015-12-14 17:24] #419 closed

[2015-12-14 17:25] sibeliusseraphini commented on #427
docs updated

[2015-12-14 17:25] #427 closed

[2015-12-14 17:26] sibeliusseraphini commented on #426
fixed with: https://github.com/satyan/sugar/commit/fff7ae0fb7e130926b0550657afb8ad9894bf80f

[2015-12-14 17:26] #426 closed

[2015-12-14 17:27] #415 closed

[2015-12-14 17:28] #421 closed

[2015-12-14 17:29] #396 closed

[2015-12-14 17:29] sibeliusseraphini commented on #413
it's fixed on 1.4 and master version

[2015-12-14 17:29] #413 closed

[2015-12-14 17:30] sibeliusseraphini commented on #414
@HosseinKurd could you please explain more about it?

[2015-12-14 17:32] #377 closed

[2015-12-14 17:33] sibeliusseraphini commented on #372
@changroze I don't think so, could you provide a PR for this?

[2015-12-14 17:40] sibeliusseraphini commented on #371
We should change the behavior of **addFieldValueToColumn** on **ReflectionUtil**

[2015-12-14 17:41] sibeliusseraphini commented on #386
@clay-to-n I've updated the docs, and I agree with you about the semantic versioning that's wrong for this library

[2015-12-14 17:42] sibeliusseraphini commented on #353
Sugar doesn't have this feature yet.

@dangalg do you know how we can tackle this problem?

Feel free to send a PR to handle this

[2015-12-14 17:45] sibeliusseraphini commented on #381
I think so

[2015-12-14 19:39] mesterj opened #473 "Question about Cursor"
Hello

I see there is a Select.from(SimpleModel.class).getCursor() method. In which version will be available?
Now I can use Iterator<SimplerModel> cursor?

Thanks

[2015-12-14 20:22] sibeliusseraphini commented on #473
try to use **findAsIterator** of **SugarRecord**, I haven't used Select from interface yet.

Feel free to send a PR to improve the docs

[2015-12-14 20:22] #473 closed

[2015-12-15 13:38] peshkira commented on #422
In case somebody stumbles upon this:

I just had the same use case and tested my app extensively with the beta 1.4 sugar orm. The trick is to put an empty script in the migrations folder. Then, the existing tables are not dropped and recreated and only the new tables are created.

This works great for new features, where the existing data model remains unchanged and only new models were included!

[2015-12-15 19:05] heroic commented on #469
I am not sure! I am guessing that sqlite treats "order" as a keyword?

[2015-12-15 19:19] sibeliusseraphini commented on #469
related #416

[2015-12-17 08:16] ADAnup opened #474 "Saving and retrieve image using Sugar. Need proper way. Please help ASAP"
Can you please provide proper way to save and retrieve image using this library.
I'm using Blob object for image. First taking image from one URL as a bitmap and then converting it to Blob then storing it.
At the time of storing it is getting stored, but when I retrieve it I'm getting it null.

Please help ASAP.
1.Model for Event
![untitled](https://cloud.githubusercontent.com/assets/16332676/1186

[2015-12-17 11:13] sibeliusseraphini commented on #474
check it out #446 and http://stackoverflow.com/questions/26783143/error-while-trying-save-and-retrieve-images-into-database-in-android/26797130#26797130

[2015-12-17 11:13] #474 closed

[2015-12-17 13:00] fifielshafie commented on #335
@kifki Thanks i will try it :)

[2015-12-17 16:26] samiro opened #475 "¿Sugar save the migrations executed?"
If yes, how delete or clean all Sugar data of databases and versions used by my app?

[2015-12-17 20:25] fathomson commented on #261
Would love this feature to.

[2015-12-17 23:44] Fshamri commented on #182
+ 1

[2015-12-18 00:46] sibeliusseraphini commented on #182
@Fshamri what is your problem?

[2015-12-18 00:48] sibeliusseraphini commented on #261
@fathomson could you send a PR for this please?

[2015-12-18 00:48] sibeliusseraphini commented on #475
?

[2015-12-18 14:05] Fshamri opened #476 "Update column in database based on another column value"
can you please provide clear  example for update operation. lets say i store my own id in the DB then use it whenever i want to perform an update operations for example:
my class is like:
[code]

[2015-12-18 14:34] samiro commented on #475
My app use database "core.db" with version 3, and want change database name. I changed to "database.db" with version 1, but the version Of tables created on this database is the version 1of "core.db"

[2015-12-18 14:58] sibeliusseraphini commented on #475
I am not sure how Sugar or SQLite handles database name changes, could you please take a look into this?

[2015-12-21 06:13] LarryLGHao opened #477 "SugarContext has not been initialized properly"
Sometimes,it will be happened~

[2015-12-21 16:34] Fshamri opened #478 "Not able to create Table"
I have the following Observer to save feeds to database:
[code]
but i am getting the following error:

````android.database.sqlite.SQLiteException: no such table: FEED_ENTITY (code 1): , while compiling: INSERT OR REPLACE  INTO FEED_ENTITY(ID,CACHED,M_ITEMSTOTAL,M_LOGO_URL,M_FEED_ID,IS_SUBSCRIBED,M_FEED_TITLE) VALUES (?,?,?,?,?,?,?)````

[2015-12-22 03:26] LarryLGHao opened #479 "one Entity,need two different tables,how to do it? would you give me some directions? Thanks~"

[2015-12-23 13:26] iAviatorJose opened #480 "How can i prevent duplication of rows ??"

[2015-12-23 20:23] sibeliusseraphini commented on #480
Could you please give more info?

[2015-12-23 20:24] sibeliusseraphini commented on #479
Could you please provide more information?

[2015-12-23 20:26] sibeliusseraphini commented on #478
Could you please check the tables created by Sugar, using this https://gist.github.com/sibeliusseraphini/b060c415604c52c2a94e and sqlitebrowser

[2015-12-23 23:46] zygm0nt opened #481 "Problems serializing BigDecimal"
Hi

I'm having troubles persisting an entity with BigDecimal.

public class SpendingEntry extends SugarRecord<SpendingEntry> {

    String category;
    BigDecimal amount;
    long timestamp;

    int year;
    int month;
    int day;

    public SpendingEntry() {}

    public SpendingEntry(String category, BigDecimal amount, long timestamp) {
        this.category = category;
        this.amount

[2015-12-24 05:31] iAviatorJose commented on #480
I Get an Array Of Objects from API. And i store them in Database using SugarDB.

PROBLEM:
Every time hit the get API then i get a JSON Array which has objects that are already in my DB and some are new. So when i save this new array fetched duplicate Rows are created.

Is there a built in functionality in SugarDB. that will prevent the duplication of Rows.

[2015-12-24 12:56] sibeliusseraphini commented on #480
You can use a @Unique constraint in a column of your table

[2015-12-25 06:45] androidfanatic opened #482 "Boolean query works only with 0/1"
This return a list of size 0.

    Model.find(Model.class, "favorite = ?", "true")

where favorite is a boolean type inside Model class.

I read a bit about the issue and turns out this works fine (using 1/0 for true/false)

    Model.find(Model.class, "favorite = ?", "1")

It'd be nice to be able to query boolean fields using true/false string instead of 0/1.

[2015-12-26 06:56] iAviatorJose commented on #480
Ok @sibeliusseraphini  will try this and get back to you!!!

[2015-12-28 00:56] hammoudeh opened #483 "Dependency Error with com.google.common.collect.MapMaker."
Hi,

I'm trying to use the new version 1.4, but unfortunately it is dependent in  com.google.common.collect.MapMaker.
In realty I'm using it in virtual device which is pure android OS.

So what is the solution to not depends my work in com.google.common.collect.MapMaker.

Below the error log.
`
java.lang.NoClassDefFoundError: Failed resolution of: Lcom/google/common/collect/MapMaker;

[2015-12-28 09:48] sidhantpanda commented on #412
I am still facing this same issue on Android 4.4 in a MultiDex app. I am using version 1.4

[2015-12-28 10:12] sidhantpanda opened #484 "java.lang.NoClassDefFoundError: com.orm.SugarDb"
[code]

I am working on a Multi Dex project. Currently just overriding the `attachBaseContext()` in all activities:
[code]

Issue found on a Xiaomi device with Android 4.4

[2015-12-28 11:17] sidhantpanda commented on #484
UPDATE:
There is some issue with SugarORM not behaving nicely with `buildToolsVersion "23.0.2"`
I had to revert back to `buildToolsVersion "23.0.1"` to make it work again

[2015-12-29 12:48] adiyatmubarak commented on #482
This is also happened in query builder.
[code]

I have to change `true` with `"1"`

[2015-12-30 00:04] jonstavis opened #485 "Initializing schema on first install"
I have an existing app with an existing database.  Its version is version 1 and contains a table called MyTable.

I would like to upgrade my app to use Sugar for ORM.  When users upgrade to the new version of the app the app will need to copy all of the data from MyTable to MyNewTable.  MyNewTable has a slightly different schema than MyTable and will be completely managed by Sugar.  I can migrate

[2015-12-31 09:17] sachinletsgo commented on #477
its show me the same error.
then i come to know that i have to set the application name "com.orm.SugarApp"?
why i cant use my application name in manifest file

[2015-12-31 10:09] kifki commented on #477
I had the same problem, and I forgot to add `android:name="com.orm.SugarApp"` in the manifest application tag.
But it's clearly stated in the docs, so I don't think it's a bug.

[2015-12-31 21:02] #477 closed

[2016-01-03 06:47] tevjef commented on #380
+1

[2016-01-03 15:13] sibeliusseraphini commented on #380
@Psest328 you should try to use [TypeAdapter](https://google-gson.googlecode.com/svn/trunk/gson/docs/javadocs/com/google/gson/TypeAdapter.html) and/or [TypeAdapterFactory](https://google-gson.googlecode.com/svn/trunk/gson/docs/javadocs/com/google/gson/TypeAdapterFactory.html)

We can rethink how Sugar creates the default ID column

[2016-01-04 06:46] LNeway opened #487 "Update database interface"

[2016-01-04 19:31] diogosq commented on #380
@Psest328, Is possible create one notation for mark the id and change the sugarRecord class to use this over fixed pk.

[2016-01-05 11:10] StevenWung opened #488 "where is the db file stored? could I use a db existed file?"
is it located in /assets/databases/dbfile?
thanks

[2016-01-05 14:42] sibeliusseraphini commented on #488
/data/data/packagename/databases/dbname

you can use this [gist](https://gist.github.com/sibeliusseraphini/b060c415604c52c2a94e) to get the database

[2016-01-05 14:42] #488 closed

[2016-01-05 17:22] Psest328 commented on #380
@diogosq, what I'm doing now is just changing the 'id' field in the json data to '_id' before parsing it with gson, so it's a minor workaround.  But considering how common 'id' is, I'd like to see sugar maybe change theirs to 'sugarId' to avoid parsing conflicts

[2016-01-05 18:13] sibeliusseraphini commented on #380
@diogosq could you post your solution in a gist ?

@Psest328 @diogosq @tevjef let's discuss this on [gitter](https://gitter.im/satyan/sugar)

[2016-01-05 19:53] diogosq commented on #380
@sibeliusseraphini yes, of course.

[code]

[2016-01-05 19:56] diogosq commented on #380
@sibeliusseraphini
In fact, I implemented the following notations in SUGAR :

Enumerated.java
ForeignKey.java
PrimaryKey.java

[2016-01-05 22:17] sibeliusseraphini commented on #380
@diogosq this is great!

are you willing to submit a PR with this modifications?

I will be glad to merge your changes into master, we just need to make sure this changes don't break anything

could you please also check whether there are more issues that will be solved by this PR?

[2016-01-06 03:06] diogosq commented on #380
@sibeliusseraphini Thanks!

Yes, I can submit a pull request. But, my fork have some personal class. I need clean the SugarRecord before. Maybe in this week I can make this.

In really, the SugarRecord have some modifications what I can't ensure 100% of compatibility.

Anyway, I will make a PR.

[2016-01-06 11:55] HosseinKurd commented on #414
@sibeliusseraphini Please use Composite pattern and whatch output in logca
https://en.wikipedia.org/wiki/Composite_pattern

[2016-01-06 12:12] sibeliusseraphini commented on #414
@HosseinKurd could you please provide an example code or gist?

[2016-01-06 15:25] StevenWung opened #489 "Problem with column named 'class'"
table structure is fixed, some of the columns were named with java keywords, is there any way to move forward without changing the column names?
Thanks

[2016-01-06 16:33] sibeliusseraphini commented on #489
You can define these column names like _String and use the annotation @Column to define the name in the database

[code]

But, I prefer to not use reserved words of Java neither of Sqlite

related to #416

[2016-01-06 22:45] diogosq commented on #380
@sibeliusseraphini  I submit a pk #490
If you need anything, I'm at your disposal.

[2016-01-07 01:44] rachellejane opened #491 "Domain objects using both Gson and SugarRecord, clashing over field name "id" in Retrofit call"
Hey there,

I'm wondering if there's a workaround for this little issue I've encountered in a class called User, which I deserialize from a JSON object using Gson, annotating like so:
[code]

Even though the variables are called totally different things and are different types in the definition of User, this addition of the Long id field with Sugar is causing Retrofit to throw an error, which says

[2016-01-07 02:09] rachellejane commented on #491
Ah, and I found a workaround. If you run into this, it's just a matter of adding something like this to your deserialize method:
[code]
And then changing the annotation accordingly in your domain class.

[2016-01-07 02:09] #491 closed

[2016-01-07 12:53] dnalves commented on #478
@Fshamri Is your app using multidex or something like that?

I had a similar problem where an app was using multidex, then I removed the multidex and I was getting a error because Sugar couldn't find the secondary dex file.

[2016-01-07 15:32] CreaRo opened #493 "Orderby descending"
Is there a way to order by descending?
[code]
gives me the first record, but I want the last. What query should I use for that?

[2016-01-07 15:59] sibeliusseraphini commented on #493
try to use

[code]

I will accept a PR to improve this hack solution

based on this [answer](http://stackoverflow.com/questions/8948435/how-do-i-order-my-sqlite-database-in-descending-order-for-an-android-app)

[2016-01-07 22:37] CreaRo commented on #493
Alright.

[2016-01-07 22:37] #493 closed

[2016-01-08 04:59] fg607 opened #494 "java.lang.ExceptionInInitializerError"
Use the static method 'findById'  throws  the "java.lang.ExceptionInInitializerError"  and "java.lang.Class.classForName(Native Method)" exception ,when run in jelly bean.
But it's fine in lollipop.

hopes to resovle, Thanks!

[2016-01-09 00:34] davidmigloz commented on #376
Could you write an example of the resulting query? Thank you.

[2016-01-09 01:00] davidmigloz commented on #376
I answer myself:

[code]
[code]
[code]

[2016-01-09 08:17] kmno commented on #483
i have same issue...

[2016-01-09 13:32] sibeliusseraphini commented on #376
@davidmigloz I will accept a PR for that

[2016-01-10 12:30] refaelsh commented on #10
I have exactly the same problem as rastoarpit.

[2016-01-10 12:35] refaelsh commented on #422
Just want to add to peshkira's statement: I've tried the same thing with version 1.3 and it does not works.

[2016-01-10 15:05] refaelsh opened #495 "Database upgrade wipes all data"
Hello all,

I tried following this guide: http://satyan.github.io/sugar/migration.html
without any luck. Here is exactly what I did:
1. SugarORM version is 1.3.1
2. I created the sugar_upgrades folder in the assets folder.
3. I've put an empty 1.sql file in there.
4. I've also put 2.sql file in there, with the following contents:
alter table ENTRY add NOTE TEXT; (also tried it with an empty file).

[2016-01-10 17:53] sibeliusseraphini commented on #495
@refaelsh I think this is fixed in the master version

Could you try to use the master version?

[2016-01-10 20:10] refaelsh commented on #495
Tried it: if I put this line compile 'com.github.satyan:sugar:1.4'
the app would not even run!!! Its kinda hard to explain, but I get this message ("Message Gradle build"):

Error:Execution failed for task ':app:dexDebug'.

Here is a link to a screenshot:
https://www.dropbox.com/s/9msrciwjy7guds0/Untitled.png?dl=0

[2016-01-10 22:49] sibeliusseraphini commented on #495
follow the readme.md instruction to use master version instead of 1.4, the documentation is update

Update your plugins, you should try to use Android 2 (it is much better than the 1.x version)

I think this is related to a multidex problem, please include the full stack trace, only the last line is not enough to debug

[2016-01-11 01:20] matfur92 commented on #485
Hi,
I'm not sure that is the solution for your problem, but to test if you have the first run (or first after an update) you can use this code :
[code]

And in yourMigrationFunctionCode() you can use method as:
[code]

Note: I am not a developer of this library but a simple user, I hope this will be useful the same

[2016-01-11 01:34] matfur92 opened #496 "slow performance with listAll()"
Hi,
I've noticed that listAll() method is too slow in my opinion.
My code :
[code]
produce :
[code]
and 318 (items in table DOMANDA) of :
[code]

There is a method to improve performance and run only ```SELECT * FROM DOMANDA``` to have a list of all objects in ```DOMANDA```?

Thanks a lot in advance

[2016-01-11 04:45] StevenWung commented on #489
@sibeliusseraphini thanks a lot

[2016-01-11 04:45] #489 closed

[2016-01-11 12:36] sibeliusseraphini commented on #496
I suggest to use a Iterator based method instead, this will make the list evaluation lazy

[2016-01-11 16:20] refaelsh commented on #495
Thank You sibeliusseraphini :-)

use master version instead of 1.4 - Tried it, "multidex problem" is gone, but now the SugarRecord Class is not found because "import com.orm.SugarRecord" is no longer recognized.

Update your plugins - updated.

you should try to use Android 2 - But it is still in Beta, I have a psychological barrier for Beta stuff :-)

please include the full stack trace - Here is

[2016-01-11 17:07] sibeliusseraphini commented on #495
@refaelsh this could help http://stackoverflow.com/questions/15209831/unable-to-execute-dex-method-id-not-in-0-0xffff-65536

[2016-01-11 20:09] refaelsh commented on #495
@sibeliusseraphini
Nice! Thank You! Using 1.4 does not produces the "multidex problem" anymore.

@To_Every_One
But now, what happens is that the first time I try to save() a new record, I get the following exception:
"table ENTRY has no column named NOTE" (please look at My original post, NOTE is a field I am trying to add too the ENTRY table).
Here is the full stack trace just in case:
https://ww

[2016-01-11 20:47] sibeliusseraphini commented on #495
I recommend you to use the debugger tool available on Android Studio to try to understand why this problem is happening, set some breakpoints

this only happen on a existing app? I think your database is not upgrading

The master version add new column automatically, and could resolve this problem

[2016-01-12 01:02] matfur92 commented on #496
Hi,
I used this code:
[code]
but I have the same time to read 318 elements. It's too 670ms for me, did you have any other idea to resolve this?

[2016-01-12 01:16] sibeliusseraphini commented on #496
http://stackoverflow.com/questions/18081581/how-to-make-sqlite-select-query-faster
http://stackoverflow.com/questions/3632827/is-there-any-efficient-way-to-make-android-database-query-faster
http://stackoverflow.com/questions/16125919/android-sqlite-get-all-data-from-cursor-fast

You can use an AsyncTask to not block the UI thread

You can also use an aggregation for your type of query

[2016-01-12 06:48] refaelsh commented on #495
this only happen on a existing app? - It happens in onCreate(), the first two lines of onCreate are as follows:
Entry entry = new Entry(1, 1, true, "");
entry.save(); //It happens here.

I think your database is not upgrading - Yes, I think so too. Is it a bug in SugarORM or am I doing something wrong?

The master version add new column automatically, and could resolve this problem - Two problems

[2016-01-12 16:01] tevjef opened #497 "Annotations lack the @Target annotation."
The [Target](https://docs.oracle.com/javase/7/docs/api/java/lang/annotation/Target.html) annotation is used to compile-time checking. The Kotlin compiler specifically uses annotation to provide interoperability between it and Java.
[code]
The Kotlin compiler does not bind the annotation to the field if the `Target` annotation is not declared.

[2016-01-12 16:34] sibeliusseraphini commented on #497
fixed with #498

[2016-01-12 16:34] #497 closed

[2016-01-13 07:44] sachinletsgo commented on #412
I am stilling facing error

[2016-01-13 07:48] boybeak opened #499 "How to switch db path for different User in RunTime."
Is it possible for Sugar to define db file location directory in RunTime?

[2016-01-13 07:59] sidhantpanda commented on #412
Hey @sachinletsgo

What buildToolsVersion are you using? I was facing this error with 23.0.2
I switched back to 23.0.1 and its working fine now

[2016-01-14 21:31] RodryVazquez commented on #50
I just to have the same problem, I fixed by adding an empty contructor, and compile with  the 1.3 Sugar orm version and rainstalled the app, and before  new testing run cleanner in device and clear cache.
my ManifestFile looks like :

 <meta-data android:name="DATABASE" android:value="MyDb.db" />
    <meta-data android:name="VERSION" android:value="1" />
    <meta-data android:name="QUERY_LOG" and

[2016-01-15 10:10] krazykira commented on #50
For me this error occured because i had `Multidex` enabled and i was using a lot of `libraries` around 20 of them and it was a very big project with a lot of classes. I debugged and went through the source code and i confirmed it there that the classes that `extended sugar record` were never found so in the end i `added my classes explicitly` into the source code in order to get my project to work

[2016-01-15 19:46] mikemike396 commented on #496
Using the AsyncTask works pretty good. Atleast takes the lag out of the UI if transition to new activity

    public class QueryDataBase extends AsyncTask<String, Void, Void> {
        private Exception exception;
        protected Void doInBackground(String... urls) {
            try {
                objectList = Object(Object.class, "is_read = ?", "1");
            } catch (Exception e) {

[2016-01-15 20:07] #496 closed

[2016-01-16 00:09] howettl opened #500 "Unable to open database file (code 14)"
I'm getting this error after making a large number of reads and writes to my db, which causes my app to crash.  It happens if I make ~10 000 reads/writes within about 5 - 10 minutes.  If the rate of read/writes is lower then the problem does not seem to occur.

Here is the stack trace:

java.lang.Error: FATAL EXCEPTION [IntentService[com.mycompany.myapp.programs.LoadProgramFileIntentService]]
Unit

[2016-01-16 15:25] StevenWung opened #501 "anyway to not to create a new db file when db doest exist"
Is there any way to tell sugar not to create a db file?
I want suger to use my own file, but not to create a new one, but when my file doest exist, it creates a new one, not throw error.
any way to prevent this?
Thanks

[2016-01-16 16:46] johnmurphy01 opened #502 "Simple select from database yields no results"
I have approximately 50 items in a table in my sqlite database. However when I query the object to return the list of items (Select.from(ClassName.class).list();), I get no results. This was working previously, however I don't recall making any fundamental changes that would affect this. My database schema has probably changed, but I have since unintalled and reinstalled my Android application. An

[2016-01-16 16:58] johnmurphy01 commented on #502
Turns out I just needed a parameterless constructor. Sorry for the bother

[2016-01-17 02:21] #502 closed

[2016-01-18 01:46] koolll commented on #494
any solution?

[2016-01-19 11:46] sachinletsgo opened #503 "Getting Data in reverse order. Why ???"
Lets suppose i save data
1
2
3
4
5

But i am receiving the data in reverse order when i use  FindAll()
like
5
4
3
2
1

Why so ??

how to tackle  it

[2016-01-21 07:33] thanhtanh commented on #344
Got same error here. Android 4.1.1

[2016-01-21 09:00] danndi opened #504 "data not saved when app is in background"
Hello,

I am using Sugar 1.4 and I have a problem that data are not saved in Sugar Object when the app is in background.

My app is downloading a file. When the download completes, the DownloadCompleteReceiver is called where I want to save a STATE_COMPLETE for this object. The logCat says: DownloadFile saved : 14741. But when I go back to the app, the state is not saved and the DownloadFile has t

[2016-01-21 09:56] adin234 commented on #344
@thanhtanh i think i fixed this through the manifest, i forgot to put the proper entries in my android manifest

[2016-01-21 12:05] #344 closed

[2016-01-21 12:07] sibeliusseraphini commented on #504
@danndi try to use the android studio debugger tools to help you identify in which exactly part does not work, and let me know the problem with the logs

[2016-01-21 22:36] karimi12 commented on #494
my friend please see this links
http://stackoverflow.com/questions/3375810/exception-in-initializer-error
i have this problem too

i use Singleton  pattern

i change

public class MedicineListSingleton {
    private static MedicineListSingleton  ourInstance = new MedicineListSingleton();

..........
}

to

public class MedicineListSingleton {
    private static MedicineListSingleton ourInstance;

[2016-01-22 00:14] superyass commented on #56
same problem here

[2016-01-22 17:18] howettl commented on #500
This turned out to be a problem with leaking file pointers elsewhere in my application.  It was coming up as a crash when I tried to access the database because that was the most frequent use of the file system.

[2016-01-22 17:18] #500 closed

[2016-01-24 19:37] ErikRehnqvist opened #506 "Cannot instantiate table on application startup"
Hi,

I have a problem instantiating a table in the onCreate-method of the MainActivity. I am trying to initialize a table called Recipe but I get the following error:

Caused by: android.database.sqlite.SQLiteException: table RECIPE has no column named NAME (code 1): , while compiling: INSERT OR REPLACE  INTO RECIPE(ID,INGREDIENTS,NAME,HOW_TO) VALUES (?,?,?,?)

My call inside of the onCreate metho

[2016-01-24 21:41] sibeliusseraphini commented on #506
have you created the Recipe class after running your code at least once?

I think you should try to update your database version

which Sugar version are you using?

[2016-01-24 21:44] ErikRehnqvist commented on #506
Hi,

I'm using Sugar version 1.4. Yeah, I constantly test the code so the Recipe class was created after I made the code work with another table, called Inventory.

By updating the database version, you mean simply changing the 1 in the android manifest to a 2?

[2016-01-24 22:01] sibeliusseraphini commented on #506
yeah

[2016-01-24 22:04] ErikRehnqvist commented on #506
I tried that, updated it to first 2, then 5 and now 200, but it still doesn't work. It still gives me:

Caused by: android.database.sqlite.SQLiteException: table RECIPE has no column named NAME (code 1): , while compiling: INSERT OR REPLACE  INTO RECIPE(ID,INGREDIENTS,HOW_TO,NAME) VALUES (?,?,?,?)

[2016-01-25 01:18] sibeliusseraphini commented on #506
Could you try to get your db files from your android sdcard

You can use this script for that: https://gist.github.com/sibeliusseraphini/b060c415604c52c2a94e

and check whether there is something wrong with it

[2016-01-25 12:20] sampohaavisto commented on #483
Likewise

[2016-01-25 12:34] sibeliusseraphini commented on #483
the master version removed the MapMaker dependency, give it a try

[2016-01-25 12:34] #483 closed

[2016-01-26 00:48] iambmelt opened #507 "Double-brace initialization triggers syntax error"
A trivial example to repro what *looks* like a bug -- see `onResume()`

**AndroidManifest.xml**
[code]

**Example Entity**
[code]

**Example Activity**
[code]

**Stacktrace**
[code]

[2016-01-26 00:56] sibeliusseraphini commented on #507
@iambmelt what does ```{{ }}``` do?

do you really need it?

do you have any ideia of how to fix it?

[2016-01-26 01:05] iambmelt commented on #507
@sibeliusseraphini For a more succinct explanation than I can give here, see [What is double-brace initialization?](http://stackoverflow.com/questions/1958636/what-is-double-brace-initialization-in-java)

Nope - but could be worth documenting since I ran into it.

I haven't investigated - I wouldn't call this critical. Easy to work around :+1:

[2016-01-26 01:26] sibeliusseraphini commented on #507
Could you try to use the Android debugging to try figure it out why this is happening?

I think when you use this syntax you have a **this0** field that is detected by the Sugar code.

[code]

One way to fix could be to discard **THIS0** field

Now I remember about this syntax: [Every time someone uses double brace initialisation, a kitten gets killed.](http://stackoverflow.com/a/27521360/2628278)

[2016-01-26 01:34] iambmelt commented on #507
@sibeliusseraphini

I'm not one to take-sides in programmer dogma but I will say it's valid Java. What you do with that info is your business :)

I won't be submitting a PR w/ a fix only because I was evaluating this library with some sample code before committing to use it in any upcoming project.

[2016-01-26 02:04] satyan commented on #507
@iambmelt This initialization creates an anonymous class, for which the tables weren't created. Currently, sugar can only create tables on an initialization step and not on the fly, as would be the case here.
Also, Sugar depends largely on type/annotation information (to derive table name, etc.), this conflicts on that too.

[2016-01-26 12:10] rasyidi opened #508 "NOT LIKE is not working in v1.4"
I start my project using v1.3 and everything run ok. But after I update to v1.4, my query that using NOT LIKE no longer return right data. Even if i use findWithQuery still return same result. Why this happen?

List<Item> itemList = Item.find(Item.class, "price_code not like 'B'");
or
List<Item> itemList = Item.findWithQuery(Item.class, "Select * from Item where price_code not like 'B'");

[2016-01-26 14:13] rasyidi commented on #508
Ok sorry I found the reason. By default, price_code is NULL. So in v1.4, NOT LIKE ignore NULL value. So I need to put OR price_code IS NULL.

List itemList = Item.find(Item.class, "price_code not like 'B' OR price_code IS NULL");
or
List itemList = Item.findWithQuery(Item.class, "SELECT * FROM Item WHERE price_code NOT LIKE 'B' OR price_code IS NULL");

[2016-01-26 14:15] #508 closed

[2016-01-26 19:36] satyan commented on #507
Closing this, as we're not looking to address this case currently.

[2016-01-26 19:36] #507 closed

[2016-01-27 08:45] ALJazeeraIDP opened #509 "Compile Binary not working."
If I try to compile the binary using:
compile 'com.github.satyan:sugar:1.3'

It is failing and giving me following error:
Error:Execution failed for task ':app:dexDebug'.

But when I download the library and use it as follows:

compile name: 'sugar-1.3'
It works fine.

Now I want to use latest 1.4 using compile remote library and it is failing.

[2016-01-27 13:38] sibeliusseraphini commented on #509
@ALJazeeraIDP are u sure that this is a problem with Sugar?

could you try to use the master version?

[2016-01-28 17:00] larick commented on #483
Hi, could you update the jar library 1.4 in the download section ? I cannot use the "graddle way" to use it in my developement.
Thanks in advance

[2016-01-28 17:07] sibeliusseraphini commented on #483
@satyan will release 1.5 soon, maybe this week

[2016-01-29 00:09] fg607 commented on #494
@karimi12  Thanks!

[2016-01-29 00:22] #494 closed

[2016-01-29 09:45] lumueller opened #510 ""No such Table Exception" with AndroidStudio Preview-Version"
Hi,
I don't know if that's an issue with sugar or the gradle build-tools - but just to inform you:

I am using the Android-Studio-Preview-Version and since v2.0 Preview 6 (with build-tools 2.0.0-alpha5) I can't start my App as I am getting a "No Such Table Exception" at the first call to my database. I am now on Preview 8 with build-tools 2.0.0-alpha8 and it's still not working.

When I switch to

[2016-01-29 14:18] danndi commented on #504
Hi,

sorry for not answering earlier. From further research it seems that the problem was in the RecyclerView and its data. There was and old "copy" of the object and when resumed to app, this old copy replaced the record in that was saved by the receiver earlier.

I think you can close this issue as it is not problem of Sugar ORM.

[2016-01-29 14:21] #504 closed

[2016-01-29 14:21] sibeliusseraphini commented on #504
thanks

[2016-01-29 14:36] k0ssi opened #511 "Error:Execution failed for task ':app:transformClassesWithDexForDebug'."
after adding
[code]

building the app will fail with the following error

[code]

After removing sugar from dependencies building the app works fine.

I'm using OSX 10.10.5, Android Studio 1.5.1

[2016-01-29 14:42] jonisaa commented on #511
Try adding the sugar ORM dependency again and made a clean of your project. After that, apply a make project.
In theory, this will solve your trouble! Good luck!

[2016-01-29 14:42] #511 closed

[2016-01-29 14:43] sibeliusseraphini commented on #511
@jonisaa thanks for the explanation

[2016-01-29 14:58] jonisaa commented on #510
Do you made a refactor of your code?

[2016-01-29 15:12] lumueller commented on #510
No. No refactoring, no code changes.
All I did was update android studio from preview 5 to 6 (including gradle). I tried on three different notebooks.

[2016-01-29 15:19] jonisaa commented on #510
This is strange. I have worked with all preview versions (now I'm on preview 8), and I don't have any problem. Try to make a gradle clean build from the android studio terminal, if there's a trouble it will print some message to you.

[2016-01-29 16:13] jonisaa opened #512 "How to use Sugar with SQLCipher?"
I want to encrypt my database using SQLCipher, and I don't know how to achieve this. Is this possible?

[2016-01-29 17:12] sibeliusseraphini commented on #512
There is this lib: https://github.com/sqlcipher/android-database-sqlcipher

But I don't know what needs to be done to integrate with Sugar

[2016-01-29 17:12] #510 closed

[2016-01-29 17:17] jonisaa commented on #512
In the sugar repository there is a branch called sugar-cipher or something like that. I follow some of the things that says in the README file but it doesn't work.
To probe if this works I extract the database to SDcard and I attempt to read its content. I can do it with no problem.
Could you take a look at that branch and help me?

[2016-01-29 18:24] sibeliusseraphini commented on #512
There is only few commits in the cypher branch.

You should fork this repository, create a new branch, fetch sugar-cipher branch, merge with your new branch, and reference your repository in your main project , using readme instructions

Something like this:

- fork repo
- git clone jonissa/sugar
- git remote add upstream git@github.com:satyan/sugar.git
- git fetch upstream
- git checkout my-sugar

[2016-01-29 18:52] jonisaa commented on #512
Okey! Thanks for your help! I will probe it!

[2016-01-29 18:52] #512 closed

[2016-01-29 19:02] sibeliusseraphini commented on #512
let me know if you have any trouble

[2016-01-31 17:18] nazeels opened #513 "Tables are not created on version 4.x version of Android, while this works on 5 of Android"
Hi All

SugarORM is quiet useful library and thanks you all guys for awesome work.
I have an issue,
While testing with Android ver. 5.x  library works fine. data storing and retrieving all are working fine

Now later, while i was testing with Android ver 4.x API 18 of Android, the app crashes saying "Unfortunately --app-- has stopped" message. (No exception is thrown)

Reason for the error is no t

[2016-01-31 17:24] sibeliusseraphini commented on #513
You can follow this [script](https://gist.github.com/sibeliusseraphini/b060c415604c52c2a94e) to get the tables created by Sugar.
- Make sure your model classes have an empty constructor
- Make sure your Application class extends SugarApp or call SugarContext.init at onCreate of Application

You can always set a breakpoint while debugging in Android Studio, and try to figure it out what is really h

[2016-01-31 18:00] nazeels commented on #513
Thank you for the support :+1:

- All the models have empty constructors
- And extended the application class with SugarApp and overridden OnCreate with calling method SugarContext.init(this)

The result was the same, do the following screen should give any help

![image](https://cloud.githubusercontent.com/assets/1555473/12703833/ee9d3c0e-c865-11e5-88e9-2227cd0f4f2c.png)

[2016-01-31 18:03] sibeliusseraphini commented on #513
The full stack trace should help more.

Put a breakpoint at SugarContext.init as well, and also when Sugar creates the database to check if there is a problem over there

[2016-02-01 08:29] k0ssi opened #514 "Error:Execution failed for task ':app:transformClassesWithDexForDebug"
Still getting error
[code]
    compile 'com.google.android.gms:play-services:8.4.0'
    compile 'com.android.support:appcompat-v7:23.1.1'
    compile 'com.android.support:support-v4:23.1.1'
    compile 'com.android.support:design:23.1.1'
    compile 'com.squareup.okhttp:okhttp:2.6.0'
    compile 'com.github.satyan:sugar:1.4'
[code]

[2016-02-01 10:55] sibeliusseraphini commented on #514
It's impossible to debug using just one or two lines of error, you should post more lines of erros.

If you are not afraid of beta, you should use Android 2, it is much better and faster, try to upgrade your dependencies as well

Try to search this error on Google or Stackoverflow, it might help

Try to understand the error message

[2016-02-01 13:59] jonisaa commented on #513
Show us your meta-data configuration in the androidManifest.xml file.

[2016-02-01 14:20] nazeels commented on #513
`<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wariyum.signage"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="17" />

    <meta-data
        android:name="DATABASE"
        android:value="wariyum_signage.db" />
    <meta-dat

[2016-02-01 14:24] k0ssi commented on #514
after finding out more details by exploring the "gradle console"  i was able to solve the problem
[code]

[code]
means i have reached to default limitation of 65k methods within one app.

So i had to enable multidex,which solves the problem.

Got more information here http://developer.android.com/tools/building/multidex.html

[2016-02-01 14:24] #514 closed

[2016-02-01 14:27] jonisaa commented on #513
Try this, move all your meta-data tags under the application tag. Then apply a clean project and make it.

The manifest should be like this:

AndroidManifest.xml

<application android:label="@string/app_name" android:icon="@drawable/icon"
android:name="com.orm.SugarApp">
.
.
<meta-data android:name="DATABASE" android:value="sugar_example.db" />
<meta-data android:name="VERSION" android:value="2" /

[2016-02-02 04:43] nazeels commented on #513
Yes solved +1

When I properly set the meta-data under application, it is working fine

Thank you for the awesome support @sibeliusseraphini and @jonisaa

[2016-02-02 04:43] #513 closed

[2016-02-02 16:52] jd-alexander commented on #484
I'm also having this issue on Kit Kat devices. reverting build tools havent worked

[2016-02-02 16:57] jd-alexander opened #515 "Mutli Dex Support - No Class Found Error"
I recently upgraded my app to multi dex and now I am getting no class found def errors on Android 4.4 . Is there any way I can fix this?

[2016-02-02 16:58] jonisaa commented on #515
Could you show us the stacktrace of the error that you get?

[2016-02-02 17:15] jd-alexander commented on #515
Oh it's a no such table found
android.database.sqlite.SQLiteException: no such table: BEAT (code 1): , while compiling: SELECT * FROM BEAT WHERE (beat_id = ? ) LIMIT 1
1	at android.database.sqlite.SQLiteConnection.nativePrepareStatement(Native Method)
2	at android.database.sqlite.SQLiteConnection.acquirePreparedStatement(SQLiteConnection.java:1121)
3	at android.database.sqlite.SQLiteConnection.pre

[2016-02-02 17:16] jd-alexander commented on #515
Only getting this on Android 4.4 though . And some tables are being created

[2016-02-02 17:21] sibeliusseraphini commented on #515
@jd-alexander use this [script](https://gist.github.com/sibeliusseraphini/b060c415604c52c2a94e) and check it out the tables generated by Sugar

[2016-02-02 17:21] sibeliusseraphini commented on #484
try to use master version, instruction on README

[2016-02-02 17:35] jonisaa commented on #515
Did you have your model classes in separated packages? Would you like to show us your AndroidManifest.xml file?

[2016-02-02 18:54] jd-alexander commented on #515
I fixed it. I didnt have anyh empty constructors on a few of my models. Thanks for the assistance.

[2016-02-02 18:54] #515 closed

[2016-02-02 22:57] nurolopher commented on #503
Select.from(TestRecord.class).orderBy("id");

[2016-02-03 19:01] ErikRehnqvist commented on #506
I have found a solution, sort of. If I change the database name, everything works. However, I suspect that this is not the intended way for it to work. But, as a quick fix, it does work.

However, how do I prevent duplication in the process of adding items? Now, I am trying to use the method for an ArrayList, like list.isEmpty(), but it returns true everytime (i.e. that list is empty). Why is that

[2016-02-03 19:12] sibeliusseraphini commented on #506
You could use https://github.com/satyan/sugar#update-entity

It requires you to define the unique field that you want to preserve, so when you use update, it will update the save based on the unique field, instead of creating another item

[2016-02-04 23:33] ErikRehnqvist commented on #506
That is not really what I meant. However, I do want to ask you if there is a good way to have a many-to-many relationship with SugarORM?

I have a lot of recipes that have a lot of ingredients, and one recipe have multiple ingredients. The same ingredient could be in multiple recipes, therefore the many-to-many relationship.

Also, if I have a table called "Inventory" and this table consists of In

[2016-02-05 12:42] sibeliusseraphini commented on #506
In the SQL world you should have another table (RecipeIngredient) that has two foreign keys, one pointing to Recipe Table and another pointing to Ingredient Table, to have a many-to-many relationship

The example below, solve your both problems:

[code]

[2016-02-07 09:53] shuaibq3 opened #516 "Sugar Migration Issue"
I am having issues with database migration using SugarORM (1.4) in my Android project.

I want to add 2 columns in an existing table (NOTE).

In the migration SQL script (assets/sugar_upgrades/2.sql), I have:
[code]
I also added 2 integer variables in Note.class, which extends SugarRecord (createdBy, isSynced).

This adds 2 columns to the table. The problem is when I try to retrieve data from NOTE

[2016-02-07 19:39] miladna7 commented on #50
i did this thing:
change DOMAIN_PACKAGE_NAME = not working
change VERSION = not working
change DATABASE = working
so i think change the db name may help u in this case.

[2016-02-09 06:54] sutthichai commented on #513
+1

set the meta-data under application tag, it is working!!!

[2016-02-09 13:04] LisitaEugen commented on #391
Putting meta-data tags in inside application helped me. Thanks to @issyzac

[2016-02-09 13:53] yakubpashask commented on #422
any update on this issue ? is this solved ?

[2016-02-09 19:26] #391 closed

[2016-02-10 13:22] enyciaa opened #517 "NoClassDefFoundError - API 21"
Hi,

I'm getting the crash below, but only on devices running API 21. I'm not sure what other information you may need? But let me know and I'll post it here.

I'm running Sugar 1.4
and use build tools 23.0.1

                                                                       at java.lang.Class.classForName(Native Method)
                                                                       a

[2016-02-10 14:01] jonisaa commented on #517
Could you post your AndroidManifest file?
Did you generate default constructor for all your domain classes?

[2016-02-10 15:21] enyciaa commented on #517
`

        <meta-data android:name="DATABASE" android:value="moodspace_sugarorm.db" />
        <meta-data android:name="VERSION" android:value="1" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.boundless.cbt.workouts" />`

I think that's the bit in the manifest you're looking for?
Also I'm not sure wha

[2016-02-10 15:26] jonisaa commented on #517
Yes! That's what I looking for! Did you put the meta-data tags under the application tag? I strong recommend you to put value "2" in VERSION meta-data.

For domain classes I refer to those who are part of your database model. The classes you got under the package com.boundless.cbt.workouts. Take a look at this classes and verify if they got an empty constructor.

[2016-02-10 16:20] enyciaa commented on #517
Yep they're under the application tag. And I tried making the version number as 2 - still crashes.

Here's my domain class:

`@Table
public class TDDiaryEntryModel extends SugarRecord implements Serializable {

    @Ignore
    public static final String TYPE_USER_ENTERED = "user_entered";

    @Ignore
    public static final String TYPE_HINT = "hint";

    @Ignore
    public static final String TY

[2016-02-10 16:26] jonisaa commented on #517
If your Model class extends SugarRecord there is no need to include the @Table annotation. And another thing I would recommend to you, in Android avoid using the Serializable interface. Use a Parcelator, take a look at http://parceler.org/

[2016-02-11 00:36] caseyhelbling opened #518 "Cursors missing from 1.4"
Am I losing it or does the 1.4 release not contain the Cursor implementation from https://github.com/satyan/sugar/commit/ec0b465de3c8413977af6e18627885735d0e19db?

My sugar-1.4.jar and source don't have it... What am I missing?

Thanks!

[2016-02-11 10:47] lupsyn opened #519 "Class not found in getDomainClass"
Hi All,
 when i try to sugar.init with the activity context all is good but when i try to init with the Application
 context (MyActivity.getApplication()) something in getDomainClasses goes wrong. Reflection can't find
 sugar extensions classes.
 Is it normal ?
 I have to specify i'm using sugar in a module, and the application context is from the app where
 i'm using the library. (it makes no dif

[2016-02-11 10:52] jonisaa commented on #519
Hi!

I strong recommend you not use the method SugarContext.init().

The best way is to override the aplication declaration over the AndroidManifest.xml file.

Check the sugar documentation! And let me know if this help you!

[2016-02-11 10:55] lupsyn commented on #519
Yes sure, i've already done like this and in the end i've not to use Sugar.init,
 anyway, to replicate error try to use sugar in a module, and using the Application context of the app.
 You will see getDomainClass can't found sugar extensions objects and it's really strange...

[2016-02-11 10:58] jonisaa commented on #519
Would you like to show me the metadata configuration that you have defined in the AndroidManifest?

[2016-02-11 11:00] lupsyn commented on #519
Metadata obiuvsly is in the module not in the app that is using library :

``
   <application
        android:allowBackup="true"

        <meta-data
            android:name="QUERY_LOG"
            android:value="true"
        <meta-data
            android:name="DATABASE"
            android:value="mobilesdkinternal.db"/>
        <meta-data
            android:name="VERSION"
            android:v

[2016-02-11 11:02] jonisaa commented on #519
It seems to be ok! Did you use multiDex in your project?

[2016-02-11 11:09] lupsyn commented on #519
I've disabled multidex, and proguard. I'm using dagger2 but i don't think classes generated by this tool can cause problems, as i said problem is when you try to init Sugar context by Application one.

[2016-02-11 11:26] lupsyn commented on #519
Bug is replicated here : https://github.com/lupsyn/sugartest

[2016-02-11 12:21] jonisaa commented on #519
Ok, I will try to help you!

[2016-02-11 14:06] enyciaa commented on #517
Thanks that looks good! I always avoided parceling because of the extra boiler plate code.

That method does some actions on the database using the sugarDb.count and sugarDb.last methods. I tried commenting out the whole method and just using save() on a dummy entity, but the same crash occurs.

[2016-02-11 14:13] enyciaa commented on #517
Found a work around!

As long as one of the sugar methods is called on the domain class BEFORE starting TDActivity the database is created and there is no crash thereafter.

As to why, and why only on Lollipop - better minds than mine may be able to figure it out ;)
I tried recreating the bug in a fresh project that copied my setup with no luck

[2016-02-11 14:13] #517 closed

[2016-02-12 10:34] enyciaa opened #520 "Documentation for using ProGuard with sugar"
Hi,

I've run into a few issues with using ProGuard and sugar. The table name/column names end up becoming obfusacated letters (e.g. I, L, M). This makes it difficult to run SQL statements on the table at a later stage and causes a variety of other problems including crashes on Android 4.4. There's an easy fix to this by ensuring ProGuard keeps the domain classes un-obfuscated.

Adding this to Pro

[2016-02-12 14:05] sibeliusseraphini commented on #520
@enyciaa would you mind sending a PR for this?

Add this info to README and to docs, thanks

[2016-02-12 14:56] enyciaa commented on #520
I've sent a pull request for the README

I'm not sure how to add it to the docs however?

[2016-02-12 15:08] scognito opened #522 "Cannot specify the ID on insert (regression?)"
Hi,
i want to create a record with a specific id:

Book manualBook = new Book(99L, "This book has its ID specified manually")
like explained here: [https://github.com/satyan/sugar/pull/78](https://github.com/satyan/sugar/pull/78)

Simplyfing, the class looks like this
[code]

The problem is that another commit ([https://github.com/satyan/sugar/pull/258](https://github.com/satyan/sugar/pull/258)) m

[2016-02-12 15:19] jonisaa commented on #522
Yes, you can do this. You have two ways to generate your domain classes using Sugar. You can extend from SugarRecord (what actually you do) or use the annotation processing. With the annotation processing approach you have to generate an attribute id to make it work. Take a look at this page: http://satyan.github.io/sugar/creation.html

Let me know if this help you!

[2016-02-12 15:35] scognito commented on #522
Thanks jonisaa for quick response.
I have several methods in my class that doesn't compile if I use the annotation:

[code]
The error is "cannot resolve method find".
Same for executeQuery methods and such

I'm using sugar 1.4

[2016-02-12 15:39] jonisaa commented on #522
Just do this! Replace all the methods that you have with Book. for SugarRecord.
I show you here how to do this, with the code you sent to me:

[code]

[2016-02-12 15:49] scognito commented on #522
Worked, thank you very much!

[2016-02-12 15:49] #522 closed

[2016-02-12 16:41] sibeliusseraphini commented on #520
thanks, you should use the [gh-pages](https://github.com/satyan/sugar/tree/gh-pages) branch

[2016-02-12 16:42] sibeliusseraphini commented on #520
fixed with https://github.com/satyan/sugar/commit/fafe384bcf4cb47236fd561ba3a810e3c32a7327 by @enyciaa

[2016-02-12 16:42] #520 closed

[2016-02-12 19:22] denebchorny opened #523 "java builder pattern"
Hi sir,

Once I tried to use a "Java Builder Pattern". Something similar to this:

[code]

And I was using "com.github.satyan:sugar:1.3". Then he did not create the table in the SQLITE.

Does the 1.4 vertion support it? I really do not know how is the behavior in this type of pattern. But I guess that the sugarorm should ignore the builder because It doesn't extends of SugarRecord<T>. IDK.

It cou

[2016-02-12 19:33] jonisaa commented on #523
I use Builder Pattern for the domain classes that I have in my application. Would you like to show the AndroidManifest.xml file?

And another thing, you post the person class in this way:
`public class Person SugarRecord<Person > { .. }`

And this is the correct way:
`public class Person extends SugarRecord<Person> { .. }`

You could eliminate this Builder class and use Setter as builder pattern.

[2016-02-14 05:55] bkawakami opened #524 "Alternative to getTableName"
Hi!

On Sugar 1.4 can't use SugarRecord.getTableName() anymore

Someone know other option to get table name?

[2016-02-14 14:44] jonisaa commented on #524
In the SugarORM there is an util package, in this package there is class called NamingHelper.

Import this class and use in this way:

NamingHelper.toSqlName(class);

The parameter is the Class definition.

Hope it helps!

[2016-02-14 15:03] #524 closed

[2016-02-15 07:09] thecodingwizard commented on #382
yes. This needs to be fixed. A very temporary and bad solution would be to store the ID of the Child class and then run another query to get it.

[2016-02-17 04:19] nomanr opened #525 "Crash on prelollipop devices"
The app is working fine on lollipop devices, but somehow sugar is causing the crash on prelollipop devices. Heres the log
[code]

[2016-02-17 08:12] dmansurov83 commented on #433
How I can throw Exception in manipulateInTransaction()?
I have to remove the linked file in transaction.
[code]
Android Studio shows me Error:(39, 42) error: unreported exception Exception; must be caught or declared to be thrown

[2016-02-17 08:27] ALJazeeraIDP commented on #525
I have the same problem..

`02-17 11:22:32.141 25391-25391/com.aj.imtiyazat E/AndroidRuntime: FATAL EXCEPTION: main
                                                                  java.lang.NoClassDefFoundError: com.orm.util.ManifestHelper
                                                                      at com.orm.SugarDb.<init>(SugarDb.java:19)

[2016-02-17 09:52] ALJazeeraIDP commented on #525
I fixed it.. You need to enable multidex and library for below lollipop devices.. Please follow the link: http://developer.android.com/tools/building/multidex.html
and
http://stackoverflow.com/a/28722345/908874

[2016-02-17 12:05] sibeliusseraphini commented on #433
@dmansurov83 could you provide a PR for that?

Maybe you could solve your problem without throwing an exception

[2016-02-17 12:06] #525 closed

[2016-02-17 12:07] dmansurov83 commented on #433
I solve by own TransactionHelper with transaction result:
[code]

[2016-02-17 12:17] #433 closed

[2016-02-17 19:50] tobiasschuerg commented on #484
`buildToolsVersion "23.0.1"` not work for me either on Android 4.0.4

[2016-02-17 22:13] jonisaa commented on #484
Which version of Android Studio are you running?

[2016-02-17 22:16] jonisaa commented on #523
In the class you have posted, you didn't have any empty constructor, try adding an emptry constructor like this:

[code]

[2016-02-17 22:19] #523 closed

[2016-02-17 22:20] jonisaa commented on #518
How do you import the project?

[2016-02-17 22:22] caseyhelbling commented on #518
Gradle
`    compile 'com.github.satyan:sugar:1.4'`

[2016-02-17 22:23] jonisaa commented on #516
Did you update the Schema version in the meta-data from  AndroidManifest file? Every time you make an upgrade or alter to your schema you need to increase the version.

[2016-02-17 22:27] jonisaa commented on #518
It should contain that cursor implementation in fact. What are you trying to do? Explain a little more so I can help you to solve this!

[2016-02-17 23:08] caseyhelbling commented on #518
I was trying to create a `CursorAdapter` for a ListView. Gradle installed sugar-1.4 (see screenshot.) But the class files don't actually have the implementation that I see on the commit https://github.com/satyan/sugar/commit/ec0b465de3c8413977af6e18627885735d0e19db

![2016-02-17 at 5 06 pm](https://cloud.githubusercontent.com/assets/12005/13128098/0ddd60f4-d599-11e5-9a5b-bda10850639e.png)

[2016-02-17 23:22] jonisaa commented on #518
Yes, you got the reason, may be the modifications made by the commit you show me where deleted. Well, I think that your strategy to populate the listView was in the use of a CursorLoader?

In this case, the possible work around you have it's to create your own loader implementation and your own adapter implementation or fork and clone this project and made the modifications you need.

[2016-02-17 23:25] caseyhelbling commented on #518
Yah I mean ... I was trying to populate a CursorAdapter https://developer.android.com/reference/android/widget/CursorAdapter.html for my listview. I'll look into CursorLoader... For now I've just created an ArrayAdapter and query the db to pull in all the objects. Not optimal but works.

Out of curiosity why where the Cursor commits pulled from the release?

[2016-02-17 23:36] jonisaa commented on #518
I don't know really, I started to work as collaborator of this project 2 days ago.
Maybe this could help you, at work I have developed a little project and I have implemented own loaders and adapters:
https://github.com/SAMSistemas/business-contacts
Take a look and let me know if this helps you.

I will close this issue, if you want you could send me emails to jonatansalas@live.com.ar!

[2016-02-17 23:37] #518 closed

[2016-02-17 23:38] caseyhelbling commented on #518
:+1: Thank you! Cheers.

[2016-02-18 12:07] sidhantpanda commented on #484
I ended up using the master version as @sibeliusseraphini suggested. I extended the Application class and followed the instructions [here](https://github.com/satyan/sugar#how-to-use-master-version).

[2016-02-18 13:01] shuaibq3 commented on #516
Yes i did. Oherwise the migration SQL file would not have executed. Any thoughts on what may be wrong?

[2016-02-18 13:37] jonisaa commented on #516
I wil try to take a look at it. I don't know what could be the reason of your problem, but I will try to reproduce it and solve it.

[2016-02-18 13:45] jonisaa commented on #484
Another way is to use[ jitpack](https://jitpack.io). It's more simple.

This is the way to get a Git project into your build:

Step 1. Add the JitPack repository to your build file

    gradle

Add it in your root build.gradle at the end of repositories:

[code]

Step 2. Add the dependency

[code]
Well, I will close this Issue!

[2016-02-18 13:46] #484 closed

[2016-02-18 14:06] jonisaa commented on #503
@sachinletsgo have you solved the trouble?

[2016-02-19 18:20] lupsyn commented on #519
Change line 278 in getDomainClass in :
  discoveredClass = Class.forName(className, true, Thread.currentThread().getContextClassLoader());

[2016-02-19 19:19] tobiasschuerg opened #526 "Select query 'where (x OR z) AND (a OR b OR c)"
How can the following query be created:
`Select * from table WHERE (x OR z) AND (a OR b OR c)`

when I do `query.where(condA, condB, condC)`  it creates

while  `query.whereOR(condA, condB, condC)`  creates

but I need a mixture of AND and OR.

[2016-02-19 19:41] jonisaa commented on #526
Hi! You could take a look at QueryBuilder approach:

http://satyan.github.io/sugar/query.html

[2016-02-19 20:04] tobiasschuerg commented on #526
Of course I did ;-) The code posted above is already using that approach.
I just simplified it - maybe a bit too much^^

Here is the complete code:
[code]

The **OR** between the WHERE clauses is what I want to be an **AND**

[2016-02-19 21:50] satyan commented on #526
Right now the builder doesn't seem to support this.. You may want to look at the mergeConditions method in Select class here:
https://github.com/satyan/sugar/blob/master/library/src/main/java/com/orm/query/Select.java#L73

The specific code in question is this:
https://github.com/satyan/sugar/blob/master/library/src/main/java/com/orm/query/Select.java#L102

It seems to take the clause between cond

[2016-02-20 21:34] #503 closed

[2016-02-20 21:35] jonisaa commented on #487
@LNeway The problem is when you try to do a migration?

[2016-02-20 21:37] jonisaa commented on #485
@jonstavis have you solved this problem?

[2016-02-20 21:39] jonisaa commented on #482
We will take care of this to add as feature of sugar.

[2016-02-20 21:40] jonisaa commented on #480
@iAviatorJose did you solve your problem?

[2016-02-20 21:46] jonisaa commented on #509
@ALJazeeraIDP Try to do a
[code]
after including sugarORM to your dependencies, then add it and synchronize. Hope this helps!

[2016-02-21 02:07] MiguelFale opened #527 "Using cursors"
Hi! I'm currently using Sugar 1.3.1 (compile 'com.github.satyan:sugar:1.3.1')
I'm trying to figure out how to use cursors. The thread at https://github.com/satyan/sugar/issues/333 indicated I should use SugarRecord.getCursor(), but it doesn't exist in this version apparently.

Any help would be apreciated!

[2016-02-21 06:09] LNeway commented on #487
Yes

[2016-02-21 14:44] jonisaa commented on #487
Do you want that we add this as a feature?

[2016-02-21 14:54] jonisaa commented on #527
Why do you need the use of a cursor?

[2016-02-21 19:51] MiguelFale commented on #527
@jonisaa I'm trying to create a CursorAdapter to use in  listview

[2016-02-21 19:58] jonisaa commented on #527
Okey, I understand. I think another approach could be the use of a custom Adapter. You could create your own adapter that extends BaseAdapter class and pass by constructor a List<T> where T is the type of your model class.
This is an example of a BaseAdapter class that I use to create my custom Adapters. Hope this helps!

[code]

[2016-02-21 22:36] burnix opened #528 "Table is not empty, but I've got NPE"
I fill my DB with strings and integers

  for (int i = 0; i < 35; i++) {
            System.out.println(getResources().getStringArray(R.array.questions)[i]);
            questionery = new Question(getResources().getStringArray(R.array.questions)[i], i);
            questionery.save();
        }

but  when I tried to get one of them  I crashed with NPE

Question q = Question.findById(Question.class

[2016-02-21 22:39] jonisaa commented on #528
The table is correctly created?

[2016-02-21 22:45] jonisaa commented on #528
@burnix please, show me your Question class code

[2016-02-21 22:52] jonisaa commented on #528
@burnix try this:

[code]

[2016-02-21 22:57] sagits opened #529 "How to change the id field"
Hi, i'm trying to use sugar along with json data i get from my server. The problem is that both relies on the id field, is there a way to change the id property to not be auto-increment (my id already comes from server). Thanks in advance.

[2016-02-21 23:05] jonisaa commented on #529
Yes, there is a way, you can use annotation processing approach. For example:

[code]

[2016-02-21 23:15] sagits commented on #529
Thank you @jonisaa . May i ask you one more question? I use a model named MyModel which contains an Long id field as my super() for all my other models:
[code]

[code]

In this use case i would need to add the annotations in every class (@table and @unique)?

[2016-02-21 23:22] jonisaa commented on #529
May I ask you some question, why would you create a class with only one field? The way you show me won't work, I will explain you why.

When you annotate a class with @Table it needs an explicit declaration of a
[code]
Otherwise it won't work. So, any model class you have, will need three things in order for Sugar to work as expected:
 - The @Table annotation
 -  A private Long id field
 -  A publ

[2016-02-21 23:38] jonisaa commented on #529
@sagits Let me know if this solves your trouble. I will close this issue for now.

[2016-02-21 23:38] #529 closed

[2016-02-21 23:40] sagits commented on #529
Thank you. The truth is that theres a lot more on MyModel class. But essentialy, using the id on a super() was usefull for me to take care of adapter, network requests and common methods.

I'm originally using SharedPreferences to save my json and converting it to a List or object when i need to retrieve it, so i need a way to cast all my objects to a single type when i want to to use getById() or

[2016-02-21 23:54] jonisaa commented on #529
@sagits You can use Reflection to verify if all your model class have the @Table annotation, and if this is true, obtain the id.
Check in this class the code:
https://github.com/satyan/sugar/blob/master/library/src/main/java/com/orm/util/ReflectionUtil.java

I think you can get some piece of code useful for your needs, Hope it helps!

[2016-02-22 04:07] shuaibq3 commented on #516
@jonisaa hey.. could u manage to check it? any update on the issue?

[2016-02-22 10:29] burnix commented on #528
public class Question extends SugarRecord {
    private String question;
    private int number;

    public Question(String question, int number) {
        this.question = question;
        this.number = number;
    }

    public String getQuestion() {
        return question;
    }

[2016-02-22 10:31] burnix commented on #528
@jonisaa ,
I'm  checking if table  is filled:
long x = Question.count(Question.class);
and  x=35

And  you advise  `Question.save(questionery);` didn't  help, unfortunately :(

[2016-02-22 10:49] burnix commented on #528
@jonisaa
Thus, when I tried to `List<Question> list =  Question.listAll(Question.class);` I've got `java.lang.IndexOutOfBoundsException`.
So  the  `count`  is  35, but I still  can't use none of them...

[2016-02-22 12:38] jonisaa commented on #528
@burnix please, show me the entire stacktrace of the error!

[2016-02-22 12:44] burnix commented on #528
@jonisaa , sure
02-22 14:44:11.989 8465-8465/com.ainura.orm E/AndroidRuntime: FATAL EXCEPTION: main
                                                              Process: com.ainura.orm, PID: 8465
                                                              java.lang.NullPointerException
                                                                  at com.ainura.orm.MainActivity$1.onClick(Mai

[2016-02-22 12:45] burnix commented on #528
@jonisaa in this  line `String q = questionery.getQuestion();`  (`cos questionery is null)

[2016-02-22 13:38] jonisaa commented on #528
Your Question class needs an Empty constructor, add an empty constructor, then a gradle clean build, and run it.

The class should be like this:

[code]

[2016-02-22 13:52] burnix commented on #528
@jonisaa thank you very much. The deal was really in empty constructor. May be  you can  give a little  explanation why do we need it here?

[2016-02-22 14:03] jonisaa commented on #528
@burnix Okey, I will give you a little explanation. SugarORM uses reflection and annotation processing to generate the tables. That's why it's needed an empty constructor.

[2016-02-22 14:04] #528 closed

[2016-02-22 14:05] jonisaa commented on #527
@MiguelFale could you solve the trouble?

[2016-02-22 14:12] sibeliusseraphini commented on #528
Here is one line of code that requires an empty constructor: https://github.com/satyan/sugar/blob/master/library/src/main/java/com/orm/SugarRecord.java#L212

[2016-02-22 15:48] MiguelFale commented on #527
@jonisaa Sorry for taking so long. Yes, it worked! Thank you!

[2016-02-22 15:48] #527 closed

[2016-02-22 16:15] jonisaa commented on #527
@MiguelFale you are welcome! Good luck =D

[2016-02-25 07:00] yjwfn opened #530 "Why getSugarDb method is protected?"
[code]

[2016-02-25 07:07] yjwfn commented on #530
How to get this SugarDb?

[2016-02-25 20:45] MiguelFale opened #531 "No such table error"
# **UPDATE**
It seems like the casing is irrelevant, and so is the method of doing the query. We obtain the same errors regardless. We've pretty much exausted all our options at this point, including cleaning and rebuilding the project. We're considering switching for another ORM if this problem persists.

[2016-02-25 20:50] MiguelFale commented on #531
For the record, the devices class has an empty constructor, and I have the following metadata tags in the manifest.

<meta-data
            android:name="DATABASE"
            android:value="databaseresc.db" />
        <meta-data
            android:name="VERSION"
            android:value="3" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <m

[2016-02-26 13:21] jonisaa commented on #531
Show me your Devices class please!

[2016-02-26 13:34] x4vl opened #532 "Error on compile"
I use the gradle dependency and this is the class:
[code]

When I try to retrieve all the cities in this way:
[code]

I got the error:

[code]

[2016-02-26 13:38] jonisaa commented on #532
Would you like to show me your AndroidManifest.xml metadata? Did you try a:
[code]

[2016-02-26 14:10] MiguelFale commented on #531
//imports....
public class Devices extends SugarRecord  {

	private String macAddress;

	private String gcmRegid;

	private String mode;

    private String model;

	private Users user;

    private int api_level;

	public Devices() {
	}

	public Devices(String mac_address, int user_id, String gcm_regid, String mode, String model, int api_level){
        this.macAddress = mac_address;

        Lis

[2016-02-26 14:27] jonisaa commented on #531
Would you have a time to make a little project to reproduce the error?

[2016-02-26 14:29] MiguelFale commented on #531
@jonisaa Sorry, unfortunately we had to change our ORM.

Thanks for your time!

[2016-02-26 14:34] #531 closed

[2016-02-26 15:32] PadaliaRushabh opened #533 "Getting "SQLite Exception: No such table" when using with MultiDex Support"
This is my application class

[code]

My Manifest
[code]

[2016-02-26 16:41] jonisaa commented on #533
Did your model classes have an empty constructor declared?

[2016-02-27 03:02] PadaliaRushabh commented on #533
Yes, I have a model "Workout" class. It does have an empty constructor.

[code]

[2016-02-27 04:40] george9105 opened #534 "gradle error"
Hello I'm getting this error when i try to gradle my code

i'm using: compile 'com.github.satyan:sugar:1.4'

Error:Execution failed for task ':app:transformClassesWithDexForDebug'.

any suggestion??

[2016-02-27 04:48] PadaliaRushabh commented on #534
I think this is a MultiDex error. You might have crossed the 65k reference limit.
[Refer here](http://developer.android.com/tools/building/multidex.html).

Also checkout the[ stackoverflow post ](http://stackoverflow.com/questions/33717886/errorexecution-failed-for-task-apptransformclasseswithdexfordebug) for solution.

[2016-02-27 05:59] george9105 commented on #534
Thanks @PadaliaRushabh  i followed the post and it works !!!!

[2016-02-27 12:35] jonisaa commented on #533
Try this.. Extend the SugarApp class and override the method attachBaseContext(). In this method, call: Multidex.install(this).

Then, add your application class to the AndroidManifest. And rebuild your project. Let me know if this works.

[2016-02-28 00:37] apuder opened #535 "Property of type List<String>"
I created a SugarRecord with a property of List<String>. I can save it, but then when I try to find that SugarRecord, that property is null. I'm also not quite sure how the List<String> is stored in the sqlite DB. The column seems to be a string surrounded by '[' and ']' and each element is separated by a comma. That is not a legal sqlite data type, correct? (.schema in the command line tool sqlit

[2016-02-28 01:50] PadaliaRushabh commented on #534
you are welcome!

[2016-02-28 01:57] #534 closed

[2016-02-28 06:14] PadaliaRushabh commented on #533
It gave me the same error again.
This is what I did

[code]

` android:name="com.comp8715.canberratrailpass.Sugar">`

[2016-02-28 11:58] ALJazeeraIDP commented on #533
I am having same issue.

[code]

I guess this issue appeared after updating Android Studio 2 Beta 6 and Android SDK. It was working fine with same code before today morning.

[2016-02-28 12:40] ALJazeeraIDP commented on #533
I am running same code in Android Studio 1.5.1 and it is running absolutely fine. Let's wait for next beta release for android studio 2.0.

[2016-02-28 14:25] sibeliusseraphini commented on #533
try to clean the project and build again

[2016-02-28 16:10] martijndebruijn commented on #75
I had the same error. It was caused by a wrong definition of the package name in the manifest file. I configured the root package of the app and not the package containing the model classes.

[2016-02-29 00:59] PadaliaRushabh commented on #533
I am running android studio 1.5.1 and still have the issue.

[2016-02-29 15:51] x4vl commented on #532
Clean build does not fix the error.

Here is my Manifest.xml

[code]

I tried this domain package name too, as model package is `com.xxx.app.db`:

[code]

But I got the same error:

[code]

[2016-02-29 20:46] klepov commented on #533
gradle beta6 is to blame

[2016-03-01 11:22] jonisaa commented on #535
Show me the code of your class. The List<String> it's a relationship?

I mean the code should work. Let me generate a sample in order to reproduce your error.

[2016-03-01 11:29] jonisaa commented on #533
It's not a trouble of Android Studio. There is the same kind of problem like working with eclipse for Java development. All projects generates a debug folder that has got inside all the .class files. However the trouble it's that this folder it isn't always synchronized with the changes that you apply.

So my advise to you, delete the debug folder and run a gradle clean build command in order to g

[2016-03-01 11:36] jonisaa commented on #532
Try this, refactor the int id to something else.

[2016-03-01 12:17] sibeliusseraphini commented on #530
@jonisaa maybe he want to provide some specific functions that Sugar does not support out of the box

[2016-03-01 18:48] jonisaa commented on #530
I understand but, he can fork the project and made the change.

[2016-03-01 19:53] sibeliusseraphini commented on #530
maybe it is only useful for one of his projects

[2016-03-01 22:26] jonisaa commented on #530
@yjwfn Well, in the case you want to obtain the SugarDb what you have to do is something like extending the SugarContext, and adding a public getter:

[code]
And then use it in your Application class:

[code]
And at the end in your android manifest file put this line:

[code]

[2016-03-01 23:06] johnmurphy01 commented on #533
I'm having the same issue. We've had Sugar ORM installed in our app for several months. We rolled our app out to a user who has a Motorola RAZR running KitKat(4.4.2). Most of our Sugar models work but one of the database tables isn't getting created and thusly causing the app to crash. After doing some research, it seems that the root cause is due to MultiDex-ing and the class not being in the pri

[2016-03-02 02:19] yjwfn commented on #530
@jonisaa The constructor of "SurgarContext" is private  so I had to fork the project.  Thank you for help me.

[2016-03-02 08:11] ALJazeeraIDP commented on #533
@jonisaa I have tried your solution in AS2 Beta 6. It didn't work.

[2016-03-02 10:41] alfmatos commented on #533
I see a PR merged on Nov 23, which I assume is not on the 1.4 release that adds MultiDex support (loading all dex files) over at d15dff56c8c80dd6994b15ee9ddb7f6fc50a73ea

Has anyone tried with master to see if it works properly?

[2016-03-02 14:58] johnmurphy01 commented on #533
I haven't tried master. I will give it a go and see if it resolves the issue. Would be nice to have a new version (1.5) that includes multidex support though, so that we get Gradle support.

[2016-03-02 15:15] johnmurphy01 commented on #533
It appears the master branch of Sugar ORM does indeed support multidex. My tests on the KitKat device passed and I no longer had issues with the database tables not being created. Again, I would love to have a version 1.5 release. Thanks! @alfmatos for the info!

[2016-03-02 15:39] sibeliusseraphini commented on #533
@satyan could you release a 1.5 version

[2016-03-03 03:30] pickeyboy commented on #96
@loose11 I face exactly the same problem @clay-to-n is facing. Is there any solution ?

My Application class is also extending SugarApp and I get the same exception even after adding TestSugarApp under com.orm package.

[2016-03-03 09:51] adristanchev commented on #424
@leberrm
This worked for me:
<meta-data android:name="VALUE" android:value="1"
and also added :
<meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.example.your.package.name"

Looks like this issue has not yet been fixed.

[2016-03-03 13:26] s90304a123 opened #536 "no such table in [com.android.tools.build:gradle:2.0.0-beta6]"
I found in  [com.android.tools.build:gradle:2.0.0-beta6]
always get No such table error...
I trace the source to here class : `com.orm.util.ReflectionUtil`
`getAllClasses` method always return 0 length
Could you fix this bug?

[2016-03-03 14:30] iqorlobanov opened #537 "No such table exeption"
Sugar orm works perfectly on Android <5, but on Android 5> it crashes.
I am using version 1.4

Please help me.

`Error: android.database.sqlite.SQLiteException: no such table: AUDIO (code 1): , while compiling: SELECT * FROM AUDIO`

[code]

[code]

[2016-03-04 10:07] carlosrc commented on #537
Same error here in Android Studio 2.0 Beta 6.

[2016-03-04 10:20] sibeliusseraphini opened #538 "Release 1.5 - We need to test it"
Could somebody test release 1.5?

[2016-03-04 12:31] sibeliusseraphini commented on #537
@carlosrc could you try with version 1.5

[2016-03-04 14:09] iqorlobanov commented on #537
@sibeliusseraphini  nothing change, i'm using Android Studio 2.0 Beta 6 too

[2016-03-04 14:12] sibeliusseraphini commented on #537
@iqorlobanov is your android studio 2.0 beta 6 using all your resources (100% cpu and a lot of memory)?

[2016-03-04 14:44] sibeliusseraphini commented on #537
It is working on version 1.5 and master version using android studio 2.0 beta 6

Maybe you should also set your application name on your manifest

[code]

[code]

[2016-03-04 14:53] iqorlobanov commented on #537
@sibeliusseraphini works well only on Android <5

[2016-03-04 14:58] sibeliusseraphini commented on #537
@iqorlobanov could you clean your project, uninstall your app from your device and install it again?

[2016-03-04 14:59] sibeliusseraphini commented on #537
I don't know how Sugar works with lombok

[2016-03-04 15:09] iqorlobanov commented on #537
@sibeliusseraphini i did everything but it dont work :(

[2016-03-04 15:09] iqorlobanov commented on #537
@sibeliusseraphini works well only on Android 4.4

[2016-03-04 15:19] sibeliusseraphini commented on #537
are you using multidex?

[2016-03-04 15:24] iqorlobanov commented on #537
@sibeliusseraphini no

[2016-03-04 15:50] sibeliusseraphini commented on #537
could you grab your database using this - https://gist.github.com/sibeliusseraphini/b060c415604c52c2a94e

and check whether Sugar is creating your tables correctly

[2016-03-04 23:53] luyzfernando commented on #537
First, sorry for bad English. =)

I had the same problem, but with the 5.0 version of Android.

Previously I was using version 1.4, but always occurred a problem with versions < 5.

I downloaded version "master" with support "MultiDex" and the problem had been solved, until this morning.

However, the error happened today and version 5 of Android. (I am using AS 2.0 Beta 6)

To solve the problem r

[2016-03-05 11:29] jonisaa commented on #530
@yjwfn if you need something else just re open the issue!

[2016-03-05 11:29] #530 closed

[2016-03-05 11:31] jonisaa commented on #536
@s90304a123 show me your model classes! Have they an empty constructor? How is defined the AndroidManifest metadata?

[2016-03-05 11:34] jonisaa commented on #537
@iqorlobanov could you solve your problem?

[2016-03-05 11:38] jonisaa commented on #532
@x4vl can you solve the problem, or still have the same trouble?

[2016-03-05 11:41] iqorlobanov commented on #537
@jonisaa , no :(

[2016-03-05 11:47] s90304a123 commented on #536
@jonisaa I'm pretty sure model classes have an empty constructor. And my AndroidManifest metadata like this :
[code]
I change android plugin version to : `com.android.tools.build:gradle:1.5.0`
and grandle version to: 2.6
does not appear this bug

[2016-03-05 11:48] jonisaa commented on #537
@iqorlobanov okey, so let's try this. I don't know Lombok, for the moment delete all @Setter, @Getter and @ToString Annotations. Do a clean project command and rebuild it.

Deploy the project again in your mobile device and let me know if it still throw the same problem.

[2016-03-05 11:53] jonisaa commented on #536
@s90304a123 When you where working with the plugin version 1.5.0 of gradle, your code works correctly?

[2016-03-05 12:28] s90304a123 commented on #536
@jonisaa Yes, when I downgrade to 1.5 version  of `com.android.tools.build:gradle`, everything is perfect.
I guess the problem is Reflection.

[2016-03-05 12:31] jonisaa commented on #536
@s90304a123 It's strange, because I have a project with the latest gradle beta plugin working fine. When working with gradle beta plugin, which version of gradle do you use?

[2016-03-07 19:34] sibeliusseraphini commented on #538
https://github.com/satyan/sugar/releases/tag/v1.5

[2016-03-07 19:34] #538 closed

[2016-03-07 22:55] nachogarrone opened #539 "Name table: Transaction"
I spent a lot of time figuring why i couldn't create my table of transactions.
It was a simple table named: Transaction.

I always got the same error: Syntax error near transaction...

I figured out it's a sqllite error, but it could be handled by sugar library.

[2016-03-08 07:34] TianLiJun commented on #537
I have  the same issue。
`
 android.database.sqlite.SQLiteException: no such table: BEAN (code 1): , while compiling: INSERT OR REPLACE  INTO BEAN(ID,BEAN_ID,NAME) VALUES (?,?,?)
`
this is my mainfest
`
   <meta-data android:name="DATABASE"  android:value="enterpriseedition.db" />
        <meta-data android:name="VERSION"   android:value="1" />
        <meta-data android:name="QUERY_LOG" android:va

[2016-03-08 08:28] x4vl commented on #532
Not yet.
`find` is working but `findAll` throws me that error.

`City.find(City.class, "visible = 1");`  is OK
`City.findAll(City.class);`  throws the error

I'm using: `City.find(City.class, null);`

[2016-03-08 18:27] mikecole20 commented on #536
I'm also seeing this issue.

[2016-03-08 18:45] XxPixX commented on #537
I had the same issue. In the end I disabled instant run, uninstalled the app (remember to uninstall for all users!), removed multidex and then cleaned the project and it worked.

Using gradle 2.0.0 beta 6 and the latest android studio preview

[2016-03-08 19:02] sibeliusseraphini opened #540 "Sugar 2.0"
This issue will track what should we develop to Sugar 2.0 release

- Retrofit binds
- Import/Export json
- Rx extensions support
- Annotation processing
- Kotlin refactor

Let me know if you are willing to help

[2016-03-08 19:18] jonisaa commented on #540
Consider this feature:
- Adding support for SQL cypher

[2016-03-09 02:17] jeffhtli commented on #537
I have same issue with "Instant Run" enable:

AS 2.0 beta 6
multidex NOT enable
Nexus 5X_API_23 emulator

It works fine if I disable "Instant Run" in Settings.

[2016-03-09 13:47] mikecole20 commented on #536
I realized that I'm using Sugar 1.3. I'm in the progress of updating to 1.5. I'll report back with results.

[2016-03-09 15:34] frakc opened #541 "How to listen for db changes?"
loader manages gave us grate ability to get fresh contant as soon as it wos updated. Is that feature implemanted in sugar?

[2016-03-09 15:53] mikecole20 commented on #536
Ok, I have confirmed this is an issue with Sugar 1.5 as well.

[2016-03-09 16:11] sibeliusseraphini commented on #536
@mikecole20 could you share your logs?

could you create a repo on github with this problem? so we can reproduce it?

[2016-03-09 22:36] WoogieNoogie commented on #536
I've run into a similar problem, but it's only an issue if I build from Android Studio - everything is fine if I build from command line. Not sure if there's anything else I can contribute.

[2016-03-10 00:19] jonisaa commented on #540
@sibeliusseraphini we have to define priorities over those features in order to know which needs to be done first.

[2016-03-10 10:31] ed-george opened #542 "Not creating tables in Android Studio 2.0 beta 6"
I noticed today that after upgrading from Android Studio 2.0 beta 4 to beta 6, that `SugarRecord` tables are not being created through fresh app install, database migration through version change, database migration through database name change and all other methods.

I believe this is to do with the '[Instant Run](http://tools.android.com/tech-docs/instant-run)' feature as disabling this seems to

[2016-03-10 10:33] jonisaa commented on #542
Yes, this problem is generated by InstantRun feature. We will work to improve compatibility with this Android Studio 2 feature.

[2016-03-10 10:38] ed-george commented on #542
Thanks for your response @jonisaa, is there any current work around that enables Instant Run to be enabled?

[2016-03-10 10:44] jonisaa commented on #542
For the moment, I don't know a possible workaround to solve this trouble. Let me invest some time to find the root cause of the trouble and solve it.

I think the main problem is how InstantRun generate the .classes files and how It deploys to the runing device.

[2016-03-10 12:26] ed-george commented on #536
I also experienced this issue (see #542) and found that disabling the experimental 'Instant Run' feature resolved it.

[2016-03-10 17:18] WoogieNoogie commented on #536
Thanks for the tip @ed-george - disabling instant run did fix it. I've also updated to 2.1.0-alpha1 and this fix works there as well.

[2016-03-10 17:26] ed-george commented on #536
No problem @WoogieNoogie, for the meantime I would suggest that disabling the feature is the current workaround and should be documented as such.

Currently in which channel is 2.1.0-alpha1 available? I will try to verify that too.

[2016-03-10 17:40] WoogieNoogie commented on #536
It's up on Jcenter, you can use it without updating Android Studio, but the version of AS that forces the update to it is in the Canary channel.

[2016-03-11 09:30] ed-george commented on #536
@mikecole20 I can confirm that the issue only occurred once the app was uninstalled, however the AS version migration I had problems with was from 2.0.0-beta4 to 2.0.0-beta6. 2.0.0-beta4 seemed to work as expected for me.

[2016-03-11 11:25] rkj1515 commented on #536
Android Instant run is a problem. disable it and remove your build folder.
Do a fresh install and all set

[2016-03-11 14:48] XxPixX commented on #478
@dnalves
So did you just reenable multidex and it worked fine?

[2016-03-11 14:53] jonisaa commented on #541
@frakc No, this is not actually implemented on Sugar. In the case you want fresh content you will have to generate your own loader class extending from [AsyncTaskLoader](http://developer.android.com/reference/android/content/AsyncTaskLoader.html).

We are working on Sugar v2.0 which will use RxJava Observables to listen for DB changes on CRUD operations.

Let me know if this help you!

[2016-03-11 21:07] tentypwtk commented on #542
After upgrading Android Studio to 2.1 (Preview 1) this problem is now occuring.
Any solution apart from downgrading to previous studio / going back to gradle 2.0.0-beta6?

[2016-03-12 09:34] squeeish commented on #542
I migrated from ActiveAndroid because it wasn't creating tables too. Glad someone pointed it out!

[2016-03-15 00:27] moyheen commented on #75
I had the same error. I was using `findWithQuery` and manually entering a table name. I had to change my table name from `ExampleTable` to `example_Table` before the query worked.

[2016-03-15 13:16] jiangbing9293 opened #543 "Could not find class 'com.google.common.collect.MapMaker', referenced from method com.orm.SugarContext.<init>"
03-15 21:12:30.595 20427-20427/? E/AndroidRuntime: FATAL EXCEPTION: main
                                                   java.lang.NoClassDefFoundError: com.google.common.collect.MapMaker
                                                       at com.orm.SugarContext.<init>(SugarContext.java:19)
                                                       at com.orm.SugarContext.init(SugarContext.java

[2016-03-15 13:21] sibeliusseraphini commented on #543
this is fixed on master and on Sugar 1.5

[2016-03-15 13:21] #543 closed

[2016-03-15 13:37] jiangbing9293 commented on #543
ok, got it ,thank you!

[2016-03-16 09:12] VKiril commented on #75
@moyheen  try to change database version from n to n+1 (for ex.)

[2016-03-16 11:34] MostafaNasiri opened #544 "I can't use SnakeCase when naming my fields in a SugarRecord class"
Hi,

Some of my fields in my model class are SnakeCase and i can't make it camelCase due to some reasons.
I know that camelCase field names are converted into SnakeCase in database tables when i use SugarORM.
But as i said i have some fields that are snakecase and when i try to access them i get this error:
"SQLiteException: no such column: story_id (code 1): , while compiling: SELECT * FROM STORY

[2016-03-16 11:40] MostafaNasiri commented on #544
Found the solution!
SnakeCase names are converted into camelCase in tables!

[2016-03-16 14:53] taynanb commented on #422
Hi,

I'm using version 1.4 of sugar and I get the same error. I realized that by only incrementing VERSION number in manifest file do not update existing table. At the same time, as suggested by peshkira, only creating an empty script also don't solve the problem.

The Migration doc (http://satyan.github.io/sugar/migration.html) said that "Sugar will also automatically create fields for existing t

[2016-03-16 14:56] sibeliusseraphini commented on #422
@taynanb could you try with 1.5 or master version

[2016-03-16 15:28] taynanb commented on #422
Hi @sibeliusseraphini, GREAT!

I tested using Sugar 1.5 and works fine without creating script, only incrementing VERSION number in manifest. Also, I did not need to create constructors for table model.

Thank you!

[2016-03-16 15:36] sibeliusseraphini commented on #422
@taynanb thanks

[2016-03-16 15:36] #422 closed

[2016-03-16 15:38] taynanb commented on #422
@sibeliusseraphini I updated my last comment about constructor!

Thanks

[2016-03-16 23:05] Gujarats opened #545 "Saving Data"
When I tried to save the data using this libary I got this error showing up in my logcat :

[code]

I think from the logcat I'm sure the table and the the data that I want to save is inserted, and I just curious about this message : _Could not load Finalizer in its own class loader.Loading Finalizer in the current class loader instead. As a result, you will not be ableto garbage collect this class

[2016-03-17 13:20] Gujarats commented on #50
Yes I was having the same issue, @miladna7 Thanks man your suggestion works.
But I wonder why it can't use the same database?

[2016-03-17 13:30] sibeliusseraphini commented on #50
it is fixed on master and on 1.5 version

[2016-03-17 13:44] aubertdavy commented on #50
Hi, no changment, i've got the same error..

[2016-03-17 13:46] Gujarats commented on #50
@aubertdavy try to change the name of your database or update to the version 1.5

[2016-03-17 13:50] aubertdavy commented on #50
@Gujarats yes that's what i did !!
I upgrated to 1.5,  removed my app, changed my db name .. and no changment

[2016-03-17 14:12] aubertdavy commented on #50
Ok i solved my problem extending SugarApp and passing application context (and not base context) on create overriding method

[2016-03-18 15:11] falkontre opened #546 "Suggested improvement: setLocale"
Hi,

I have some columns storing decimal number, but in Europe we use the comma as decimal separator so it would be nice to call the setLocal on the database when creating tables.

[2016-03-18 17:55] maykonmeier commented on #471
Is not your column named "partner_kod" ?

I was having the same issue and when I changed to snake_case it works for me.
I hope to help you.

[2016-03-19 02:51] martji commented on #390
help

[2016-03-19 03:04] revg75 commented on #390
I had to abandon sugar... had to just use sqlite and roll my own solution unfortunately. Would still be nice to be able to use sugar with multiple dbs though

[2016-03-19 08:41] carmas123 commented on #390
revg go to DBFlow
https://github.com/Raizlabs/DBFlow
:)

[2016-03-19 09:05] sibeliusseraphini commented on #390
@revg75 we will accept a PR for this

[2016-03-19 18:27] scinfu commented on #264
added in grade version 1.5
#400

[2016-03-19 18:28] #264 closed

[2016-03-21 08:15] klloveall opened #548 "Infinate Recursion with Circular References"
When you have two tables that reference each other such as the following:

Job Table:
accepted_bid: Bid
--other stuff--

Bid Table:
job: Job
-- other stuff--

You get infinite recursion if you attempt to "findById" one of them. I'm not 100% sure if this is possible to fix, however I didn't see it reported anywhere so I figured I should let you all know. For the time being, I just changed one of th

[2016-03-21 12:15] vavan4567 opened #549 "Issue with saving data in different activities"
Hello :) I am new at sugar library, but I got very strange issue.
When I am saving the object in one activity, everything is ok. But when I am trying to save the same objects in other activity I cant do it. But the main issue is that I have debuged saving and even this line `SQLiteStatement statement = new SQLiteStatement(this, sql.toString(), bindArgs);` shows same result in these two activities,

[2016-03-21 12:57] vavan4567 commented on #549
Sorry guys, please close this issue. There was a mistake, a very stupid mistake that I made in my code

[2016-03-21 12:59] sibeliusseraphini commented on #548
Sugar still miss this one-to-one relationship, I will accept a PR to fix this

[2016-03-21 13:00] #549 closed

[2016-03-21 20:45] cdaringe commented on #50
@aubertdavy, can you be more specific?

[2016-03-21 23:25] aubertdavy commented on #50
@cdaringe
Init SugarContext in a derived Application class,  passing application base context solved my problem.

[2016-03-21 23:26] aubertdavy commented on #50
public class MySugarApp extends Application {
    @Override
    public void onCreate() {
        super.onCreate();
        SugarContext.init(getApplicationContext());
    }
}

[2016-03-22 00:37] cdaringe commented on #50
i'm sorry to be a total rookie on this (i _rarely_ code java), but no where in my current app do I use `Application` explicitly (perhaps implicitly?).  Even if so, I'd like to write some unit tests--I'm unsure how'd I'd get the context otherwise if there'd be no `Context` in the test suite.

thanks for the tip.

[2016-03-22 01:46] cdaringe commented on #50
nm, @aubertdavy, i did figure out how to do that. still gives the error, though, unforunately

[2016-03-22 06:02] MangeshKadam commented on #491
@rachellejane - could you please details about your solution? I am also facing exact the same problem. If you could help me with posting piece of code in detail that will be helpful.

[2016-03-22 10:30] JonatanSalas commented on #491
What you have to do is not to extend from base class SugarRecord. Instead you should use the @Table annotation which gives to you the ability to declare by yourself a private Long id.

When declaring the private Long id, you have to use the keyword transient like this:

private transient Long id;

That mean that your id field won't be serialized NEVER!

Hope this helps!

[2016-03-22 14:27] MangeshKadam commented on #491
Thanks @JonatanSalas  - you saved  a day. Works perfectly.

[2016-03-22 16:04] JonatanSalas commented on #491
@MangeshKadam great! :D

[2016-03-22 17:57] RodryVazquez commented on #50
try, reinstall the app in the phone, in some cases its necesary, I never use application context to initialize sugar context in my apps

[2016-03-22 18:17] rachellejane commented on #491
I actually fixed my issue not by using transient, because I did need to
keep the ID on my objects. What I did, in the deserialize method (in class
implementing JsonDeserializer<ObjectType>), was remove the "id" field on
the JsonObject so that Sugar could take it, but then re-added the data,
renamed as "item_id".

      JsonObject item =
responseArray.get(i).getAsJsonObject().getAsJsonObject("item"

[2016-03-22 19:47] klloveall commented on #548
While it may (and probably is) related to a one-to-one relationship, this is actually not that which I am trying to model. There's one Job that can have many Bids, however, only one of those Bids is actually accepted. So, I suppose the second relationship there is a one-to-one, however I'm not trying to have that enforced here.

[2016-03-23 01:52] geracervantes commented on #472
are there someone wornking on this feature now?

[2016-03-23 01:59] sibeliusseraphini commented on #472
@geracervantes there is no constraint yet, however the foreign key is working fine

feel free to send a PR to fix this.

[2016-03-23 02:03] geracervantes commented on #472
can you give me an example about how it works?

[2016-03-23 02:22] sibeliusseraphini commented on #472
There is an example in this URL http://satyan.github.io/sugar/creation.html, in the number 3

[2016-03-23 15:55] JonatanSalas commented on #491
@rachellejane another thing that can be done when you have your model class extend from SugarRecord it's to create an exclusion strategy for Gson.

[code]
And then add it when you create your Retrofit object like this:

[code]

[2016-03-23 17:36] dhinx commented on #381
@joseph1125 Have you resolve this problem ?

Because I can't data by filtering enum type. Could you give me a sample, please ?

[2016-03-24 01:45] geracervantes opened #550 "alter table"
are there any way to alter tables?

[2016-03-25 15:12] Aiuspaktyn commented on #50
Same problem, fixed using gradle 1.5.0 (before was 2.0.0-beta7)

[2016-03-25 19:24] #550 closed

[2016-03-27 17:46] CallisteHanriat opened #552 "Update db schema : recreate table ?"
Hi,

I have added one entity to my User class. And then, I have deleted all my current Users. After that, I've added one to the version of my db in the manifest. But when i compile my app, I have the error of non existent column in my table. So how can I recreate totally a table ?

Thanks in advance,

CallisteHanriat

[2016-03-27 19:41] bpappin commented on #380
I'm not sure Sugar ORM should try and fix this, as it's really a problem with a bad server implementation.

[2016-03-27 19:46] bpappin commented on #527
Actually this doesn't solve it for me, because I use the LoaderManager. ListAdapters are for small amounts of data that you can hold in memory, they are not suitable to larger (more complex) datasets.

Additionally, you can't query them easily, to filter the list.

[2016-03-27 20:44] JonatanSalas commented on #527
What you can do it's to create your own loader class extending from AsyncTaskLoader that returns a List of your objects. In your custom loader you perform all filter related operations.

The problem is not the large amount of data. The problem is when you use a ListView without ViewHolder pattern. An adaptar can hold all the items you want, the problem is the itemView generation.  Maybe the most p

[2016-03-27 21:33] JonatanSalas commented on #380
In issue #491 I post the solution I have found after dealing with the same problem. The best approach it's to create an ExclusionStrategy for Gson.

[2016-03-28 16:05] #506 closed

[2016-03-28 16:37] bpappin commented on #527
I really don't want to do that, I am ripping out all the poorly written AsyncTask class I inherited as we speak (they are a maintenance nightmare), which is why I'm moving this code to cursor loaders in the first place.

My solution will be to create a ContentProvider that can work with SugarORM. It might be possible to make it adaptable (which could then be made into a pull request), but for now

[2016-03-29 05:29] vyacheslavk commented on #510
I seems have problems with new feature Instant Run, because I don't had any issues with previous preview versions of android studio, but now i run 2.1 preview 4. To reproduce issue try to completely remove app and make fresh install.

[2016-03-29 17:44] denebchorny opened #554 "Using Array of a Model"
Hi Sir,

I was working with sugarorm for a while. The last version I used was 1.3.1. Now we have the version 1.5.

I bring the data from a server with retrofit. This data is serialized as my model, but I need to save it on my local database. I want to know if in this version there is a way to save an array of a model inner other model. I mean, let me show you an example:

[code]

How can I save th

[2016-03-29 22:28] kakai248 commented on #533
I'm having this problem even with master. Everything is correct (already read all the other threads and checked everything), it simply doesn't create the table. And I can't turn off multidex or I won't be able to build the app. Any tips?

[2016-03-29 23:48] firasalkafri commented on #536
Any updates on this issue?

[2016-03-29 23:48] firasalkafri commented on #542
Any updates on this issue?

[2016-03-29 23:55] sibeliusseraphini commented on #536
use sugar 1.5

[2016-03-29 23:56] firasalkafri commented on #536
1.5 didn't solve the InstantRun issue

[2016-03-29 23:58] sibeliusseraphini commented on #536
have you guys added the following information in the manifest http://satyan.github.io/sugar/getting-started.html

and in the Application?

[2016-03-30 00:02] firasalkafri commented on #536
@sibeliusseraphini yes definitely, I didn't just start using SugarORM

[2016-03-30 08:46] strongmanb opened #555 "It is a bug?"
When I use sugar to save a object, it crash

at com.orm.util.ReflectionUtil.getDomainClass(ReflectionUtil.java:274)

[2016-03-30 15:09] frakc commented on #541
@JonatanSalas did nto success on making my own loader, thus still using contentproviders.
I am really wating for Sugar v2.0, I was surprised  how much cleaner and smother was development with Sugar.

[2016-03-30 18:10] sibeliusseraphini commented on #555
@strongmanb 1.5?

[2016-03-30 18:14] sibeliusseraphini commented on #554
please check section 3 of sugar docs (http://satyan.github.io/sugar/creation.html)

[2016-03-30 20:16] sibeliusseraphini commented on #552
@CallisteHanriat could you give more explanation? or an example?

[2016-03-31 18:42] strongmanb commented on #555
yes. It is 1.5. It run ok in the android emulator,but  it crash when I run in the real phone.

[2016-03-31 19:08] sibeliusseraphini commented on #555
@strongmanb could you provide more info about the error? the full stack trace

[2016-03-31 19:24] sibeliusseraphini commented on #540
you could base ourselves on this: https://github.com/requery/requery

[2016-04-01 07:28] martijndebruijn commented on #75
When using Android Studio with Instant Run see issue https://github.com/satyan/sugar/issues/542

[2016-04-01 11:19] shashi2459 opened #558 "find with boolean value in where condition didn't worked"
Hello there,
 In a model, I have a boolean member var and I tried to access the model on this boolean constraints.
And I didn't get any record even if it was having the matching row at DB.
But when I tried to get List of all, I got all rows.
And when I changed the boolean type to string I got the model.
My code was like this.
I tried this in 3 different ways, but didnt worked for me.

`Table.find(

[2016-04-01 11:36] JonatanSalas commented on #558
Actually boolean search is not working with true/false or "true"/"false".
You have to pass as method parameter 1/0 integer values.
Yeah, it sucks. But there is a PR that we are analizing to integrate which solves this trouble!

Hope it helps!

[2016-04-01 11:37] sibeliusseraphini commented on #558
@shashi2459 could you test this PR (https://github.com/satyan/sugar/pull/553)

It address this issue, let me know if this is working, and then I can mege with master

[2016-04-01 12:28] shashi2459 commented on #558
@sibeliusseraphini , I would like to use the PR(#553).
But I cant modify the library code since I haven`t  downloaded the source instead i used Gradle .
I gone through PR(#553), and it will work, rather it has to work.

[2016-04-01 17:34] jdochez commented on #542
The issue seems to be linked to this code :
https://github.com/satyan/sugar/blob/master/library/src/main/java/com/orm/util/MultiDexHelper.java

in InstantRun mode, we do not deliver the dex files in the main APK but inside an instant-run.zip file located in the root on the APK.

so the code above should be adapted to iterate over the content of the instant-run.zip (which will be a bunch of dex fil

[2016-04-01 18:43] sibeliusseraphini commented on #542
@jdochez do you know how to fix this?

[2016-04-02 00:54] firasalkafri commented on #542
@jdochez thank you so much, I will be contacting you soon for more information if needed

@sibeliusseraphini I am working on it, will be submitting a pull request soon

[2016-04-02 02:16] sibeliusseraphini commented on #542
@firasalkafri that's great

[2016-04-02 03:18] firasalkafri commented on #537
Instant Run now works #559

[2016-04-02 03:18] firasalkafri commented on #536
Instant Run now works #559

[2016-04-02 03:18] firasalkafri commented on #510
Instant Run now works #559

[2016-04-02 03:18] firasalkafri commented on #75
Instant Run now works #559

[2016-04-02 08:27] CallisteHanriat opened #560 "heritage of class and save elements"
Hi,

I've a class like that :
`Person` which is the mother class : contains sex, age, name.

tow subclass :
`Student` and `Teacher`

I've saved differents students and teachers and I would like to get every Peron entities with code like that :
`Person.listAll(Person.class)`

But it doesn't work. i feel that Sugar doesn't understand the domain of heritage.

Any ideas ?

thanks

[2016-04-02 08:47] CallisteHanriat commented on #552
Hi,

I've finally get the solution : To update our schema, we just have to add elements and what we want in java code and then, uninstall the app to delete `.db` file.

After new compilation, we've the new table !

[2016-04-02 08:47] #552 closed

[2016-04-02 10:12] akang opened #561 "Making method getSugarDb() in SugarContext public instead of protected"
It allows users more flexiblity in the event that they need access to the SQLiteOpenHelper object to perform some operations that SugarORM does not provide

[2016-04-02 21:46] JonatanSalas commented on #561
Solved in PR #562! Check out readme.md file to know how to integrate sugar to your app from master.
I will clorse this issue.

[2016-04-02 21:46] #561 closed

[2016-04-02 21:49] JonatanSalas commented on #546
I will take care about that! Thanks for your suggestion!

[2016-04-02 21:49] #544 closed

[2016-04-02 21:51] JonatanSalas commented on #541
@frakc why don't you succeed on making a loader?

[2016-04-02 21:55] #533 closed

[2016-04-02 22:23] falkontre commented on #546
thank you! BTW, the method is setLocale and not setLocal ;)

[2016-04-03 21:20] JonatanSalas commented on #560
What you can do it's to put a flag to indicate if a person is student or teacher. Or you can make separated classes.

[2016-04-03 21:30] JonatanSalas commented on #539
Actually there is a PR #557 that handles this. It's merged to master, so this is solved. I will close the issue.

[2016-04-03 21:30] #539 closed

[2016-04-04 08:38] chandu4ugandhi commented on #542
@firasalkafri Is there any update for this problem.. I am facing the same issue for not creating the table like this:

android.database.sqlite.SQLiteException: no such table: FAVOURITE

[2016-04-04 08:40] firasalkafri commented on #542
@chandu4ugandhi I have submitted a pull request #559 with the solution and waiting for the repository's maintainers to review and merge it

[2016-04-04 08:45] chandu4ugandhi commented on #542
@firasalkafri then it would be new version for the sugar library? if yes then what it would be? let me know asap... my whole app stuck due to this bug. I am not able to work further currently.

[2016-04-04 08:47] firasalkafri commented on #542
@chandu4ugandhi You either wait for the next release or use the library from source code including my changes.

[2016-04-04 08:49] chandu4ugandhi commented on #542
@firasalkafri can you give me the link of your changed library so i can use as source code in my app.

[2016-04-04 08:51] firasalkafri commented on #542
https://github.com/firasalkafri/sugar

[2016-04-04 08:53] ed-george commented on #542
@chandu4ugandhi please see #536 - There is discussions around a temporary work around through disabling the Instant Run feature.

[2016-04-04 08:57] firasalkafri commented on #542
@ed-george I'm talking about a solution, no need for work arounds.

[2016-04-04 09:01] chandu4ugandhi commented on #542
@ed-george how to disable the instant run feature in android studio

[2016-04-04 09:02] chandu4ugandhi commented on #542
@firasalkafri how to use the source code as library to my app that I downloaded from the url that you given.

[2016-04-04 09:03] firasalkafri commented on #542
@chandu4ugandhi Simple, just read the documentation.

[2016-04-04 09:06] chandu4ugandhi commented on #542
@firasalkafri there is a line about the eclipse.. no android studio help... give me the proper link where it can help me to import the source code as library.

[2016-04-04 16:12] CallisteHanriat commented on #560
Hi, I've finnaly find a solution,

I've created a static function findAll into the mother class to get all subclasses.ListAll element !

thanks for your suggestion !

[2016-04-04 16:12] #560 closed

[2016-04-05 00:12] JonatanSalas commented on #558
@shashi2459 I have merged PR #553 try using the Master branch to add Sugar. I will close it because in fact the PR solves this. If you found a trouble or something, please re open this issue. Good luck!

[2016-04-05 00:12] #558 closed

[2016-04-05 09:34] firasalkafri commented on #531
Instant Run now works #564

[2016-04-05 09:52] sibeliusseraphini commented on #537
fixed with https://github.com/satyan/sugar/pull/564 @firasalkafri

[2016-04-05 09:52] #537 closed

[2016-04-05 09:52] sibeliusseraphini commented on #536
fixed with https://github.com/satyan/sugar/pull/564 @firasalkafri

[2016-04-05 09:52] #536 closed

[2016-04-05 10:16] #532 closed

[2016-04-05 10:20] JonatanSalas commented on #482
This is now solved in PR #553

[2016-04-05 10:20] #482 closed

[2016-04-05 10:25] JonatanSalas commented on #478
Now in v1.5 of Sugar multidex is supported.

[2016-04-05 10:26] #478 closed

[2016-04-05 12:15] JonatanSalas commented on #542
This is solved in PR #564

[2016-04-05 12:15] #542 closed

[2016-04-05 12:57] JonatanSalas commented on #509
@ALJazeeraIDP could you solve this? I will close for now the issue. If you can't solve it, please re open it.

[2016-04-05 12:57] #509 closed

[2016-04-05 12:59] JonatanSalas commented on #480
@iAviatorJose I will close it because in fact the use of @Unique annotation solves your trouble. If you need something else please re open it. Or create a new issue!

[2016-04-05 12:59] #480 closed

[2016-04-05 13:02] JonatanSalas commented on #499
@boybeak for now is not possible. Why do you want this?

[2016-04-05 13:07] JonatanSalas commented on #545
@Gujarats are you using Roboguice? I found an stackoverflow post about this error http://stackoverflow.com/questions/16718082/java-io-filenotfoundexception-com-google-inject-internal-util-finalizer-class. It's not related to sugar, so I will close it. If you need more help with this, please re open and I will try to help you!

[2016-04-05 13:07] #545 closed

[2016-04-05 13:08] JonatanSalas commented on #535
@apuder do you solve this?

[2016-04-05 13:09] JonatanSalas commented on #519
@lupsyn if this is the solution please submit a pull-request!

[2016-04-05 13:11] JonatanSalas commented on #501
@StevenWung for now there is no way to prevent this because Sugar it's intended to create the db. We are looking to integrate sqlite-asset-helper project to add support for this.

[2016-04-05 15:27] JonatanSalas commented on #519
This is solved, thanks @lupsyn!

[2016-04-05 15:27] #519 closed

[2016-04-05 15:29] JonatanSalas commented on #471
@mesterj  using what @sibeliusseraphini recommends to you solves your problem! I will close this issue. If you have another problem related to this, please open it again or post a new issue.

[2016-04-05 15:29] #471 closed

[2016-04-05 17:12] mesterj commented on #471
Thank you. I solved.

[2016-04-05 17:57] #458 closed

[2016-04-05 22:53] JonatanSalas commented on #540
Base the project from requery is a bit tricky because of the Annotation processing usage. In my case, actually I'm learning how to create an Annotation-Processor and how to combine with the square Java poet project to generate java files.

[2016-04-05 22:55] JonatanSalas commented on #479
I will close the issue. If you can specify more information to help you please re open it!

[2016-04-05 22:55] #479 closed

[2016-04-05 22:58] JonatanSalas commented on #476
You can use the QueryBuilder approach to make the select and find by the specific type of data you want. Sugar provides autoincrement id based persistence, so you can't change that behaviour.

[2016-04-05 23:19] JonatanSalas commented on #555
Yes, this was a bug and now it's solved by PR #565

[2016-04-05 23:20] JonatanSalas commented on #555
You have to use the branch master of Sugar. I will close the issue. If you need something related to this, please re open!

[2016-04-05 23:20] #555 closed

[2016-04-05 23:25] JonatanSalas commented on #546
I will submit a pull request today. Which is the best way to setLocale, using:

[code]

Or using metadata parameter?

I think the first approach is the best but I would like to look at any suggestion.

[2016-04-06 00:58] apuder commented on #535
My apologies. I have too many GH notifications. I was evaluating different DBs back in February and also tried Sugar. Let me see if I can still find my test code. But I never managed to solve the issue. I appreciate you following up. I'll add a comment to this issue if I can find my test code.

[2016-04-06 01:24] JonatanSalas commented on #535
Okey, if you find it. Put your repository url so I can clone and check it. :)

[2016-04-06 01:29] JonatanSalas commented on #546
I have submitted a PR #566! If I'am able to merge you will have the solution. But you wil have to use Sugar master branch in your project!

[2016-04-06 03:37] Gujarats commented on #545
No I'm not using Roboguice, I got that log error when using older sugar version, when updating it to 1.5 the error is gone, I thought it was sugar problem, I'm not sure my self. Thanks @JonatanSalas .

[2016-04-06 08:11] bajicdusko opened #567 "No such table (code 1) - ver: 1.5 - Android Studio 2.0 RC3"
Hi,

I am using Android Studio 2.0 (RC3) version with gradle:2.0.0-rc3. SugarORM version is 1.5 added as gradle dependency.

Application is crashing on start since i have data writing/reading once the application starts.
In my Application class, i am not extending SugarApp, since i am using another module which needs to be extended. Instead, i am initializing SugarContext.

[code]

I have only two

[2016-04-06 09:26] falkontre commented on #546
I suggest to have a method like db.setLocale(Locale.<COUNTRY>) and a method db.setDefaultLocale(Locale.getDefault()).

[2016-04-06 09:26] JonatanSalas commented on #567
The solution is to disable InstantRun from Android Studio. But, if you don't want to do, you can use master version of Sugar, recently I have merged a PR that adds support for InstantRun feature.

Let me know if this helps you!

[2016-04-06 09:35] JonatanSalas commented on #546
I have done like

[code]

[2016-04-06 09:44] bajicdusko commented on #567
@JonatanSalas Thank you for quick response. I saw InstantRun PR and i thought that it is already pushed to maven. Disabling InstantRun helped me, actually it needs to be disabled only on first run. After the tables are created it will work as it should with or without InstantRun.
I am sorry for missing obvious, you can relate this issue to the original solution.

Thank you for your help.

[2016-04-06 09:44] #567 closed

[2016-04-06 10:01] JonatanSalas commented on #567
You are welcome! Glad to support you!

[2016-04-06 10:08] shashi2459 commented on #75
I am getting same exception on my MotoG3- Marshmallow.
But same code runs on Kitkat tablet.
I m using 1.4 version.
What will be the specific reason on Marshmallow?

[2016-04-06 10:15] JonatanSalas commented on #75
@shashi2459 if you use Android Studio it's because InstantRun generates own .dex files that Sugar don't take care, so when trying to deploy the app using InstantRun you don't get the tables generated.

[2016-04-06 10:16] shashi2459 commented on #75
ok....But the same code runs on Kitkat tablet.

[2016-04-06 10:57] sibeliusseraphini commented on #75
Sugar takes care when Android Studio uses InstantRun, this pull #564 fix this

[2016-04-06 11:14] JonatanSalas commented on #75
@sibeliusseraphini I refer to Sugar v1.5 not to the master branch.

[2016-04-06 11:27] shashi2459 commented on #75
@sibeliusseraphini I already tried v1.5 and the issue continues.

[2016-04-06 11:29] JonatanSalas commented on #75
@shashi2459  the PR is in the master branch. Just configure your project to use the master and it will work.

[2016-04-06 12:00] shashi2459 commented on #75
@sibeliusseraphini how and where to configure it for Android Studio and Gradle?
Thanks.

[2016-04-06 13:02] sibeliusseraphini commented on #75
@shashi2459 there is some instructions of using the master version with your project on README

[2016-04-06 15:44] bpappin commented on #499
With the fork I'm working on, it would be possible to do it at SugarContext.init(...) time.

I can see how you might want to go that if you have an app that multiple users to log into, but its generally not a good design.
Android already has the facility for multiple users and they have isolated data directories, but the database name wouldn't need to change.

Can you describe your scenario a litt

[2016-04-06 23:08] JonatanSalas commented on #546
@falkontre I have submitted a new PR #569 which solves this using a class called SugarDbConfiguration.

[2016-04-07 09:29] truongvnse03130 commented on #50
i have the same problem, but i fixed by:
1. Write a subclass extends Application like this:

public class SugarORMApplication extends Application {
    @Override
    public void onCreate() {
        super.onCreate();
        SugarContext.init(this);
    }

    @Override
    public void onTerminate() {
        super.onTerminate();
        SugarContext.terminate();
    }
}
2. Add android:name="com..

[2016-04-07 20:38] apuder commented on #535
I found my old test program. Just pushed it to GH:
git@github.com:apuder/SugarTest.git
In that version I tried to circumvent the List<String> issue. What I wanted to do is to add a list of categories to OrderedBook. Initially I tried ArrayList<String> as the type. That didn't work so I tried to introduce a wrapper class Category that just has one string-typed property. Something else wasn't workin

[2016-04-07 20:46] sibeliusseraphini commented on #535
@apuder check Managin relationship at http://satyan.github.io/sugar/creation.html

[2016-04-07 21:08] apuder commented on #535
thx. I saw that. I was hoping for a more natural handling of 1:n relationships. Anyways, thanks for all the comments. I'll close this issue.

[2016-04-07 21:08] #535 closed

[2016-04-08 09:58] drakernet2 opened #570 "Sharing SQLite database between apps"
Thank you for making Sugar ORM available to the development community — it’s an extremely useful and well-documented solution for using SQLite.

Can Sugar ORM facilitate the sharing of a database between two apps? In my case, the apps have exactly the same namespace, sharedUserId, and meta-data entries in the manifest (DATABASE, VERSION, DOMAIN_PACKAGE_NAME). Both apps have “com.orm.SugarApp” for

[2016-04-08 10:46] alfmatos commented on #567
@JonatanSalas With the release of Android Studio 2, this is enabled by default. Perhaps it justifies a 1.5.1 fix release.

[2016-04-08 10:49] JonatanSalas commented on #567
@satyan could you make a fix release for those who want to use Android Studio InstantRun feature?

[2016-04-09 09:18] aditya122931 opened #571 "NO SUCH TABLE with gradle dependency 2.0"
with the new gradle dependency 2.0.0
com.android.tools.build:gradle:2.0.0,
dexfile.entries() files no longer contain application classes, so every time sugar tries to create tables in onCreate of SugarDb, domainClasses are returned empty and hence no tables are created resulting in NO SUCH TABLE error. i had to spend 3 hours debugging it line by line to locate the problem and finaly reverted back

[2016-04-09 11:54] scognito commented on #571
I had the same issue upgrading to Android Studio 2.0 :/

[2016-04-09 13:22] JonatanSalas commented on #571
This issue is actually solved by PR satyan/sugar#564.

[2016-04-09 13:39] JonatanSalas commented on #571
The problem is that you have to use the master branch of Sugar for having this support. I have talked to @satyan if he could launch a release v1.5.1 of sugar. For now the solution is to import master branch in your project.

[2016-04-09 13:45] #571 closed

[2016-04-09 20:13] tracerstevens opened #572 "Upgraded to Android Studio 2.0 - Tables won't create"
I just upgraded to Android Studio 2.0 and now when I compile it says that my tables don't exist.  It looks like it's not creating my tables.  Can you help?

[2016-04-09 20:25] JonatanSalas commented on #572
The problem is with Android Studio InstantRun feature. You have two options:
- You disable InstantRun and then it will work
- You use the branch master of Sugar, because it has been solved by PR #564

[2016-04-09 20:30] tracerstevens commented on #572
Sounds good, I turned off instant run and was still getting the issue but it's because I hadn't fully uninstalled the previous installation.

Thanks for the very quick response!

[2016-04-09 20:30] #572 closed

[2016-04-09 20:42] JonatanSalas commented on #572
You are welcome! :)

[2016-04-10 14:51] JackLauu opened #573 "sugarorm can't work for android 5.0+"
When I use SugarOrm in android 5.0+, it give a no such table exception report, android 4.x works well. If sugar can't create tables in android 5.0+ automatically? And there is no way for check table is exist. I have update the library to 1.5, I use android studio 2.0 with maven.

[2016-04-10 15:00] JonatanSalas commented on #573
@JackLauu can you give more information about the error? Could you show me the entire stack trace?

[2016-04-10 15:10] JackLauu commented on #573
Caused by: android.database.sqlite.SQLiteException: no such table: BOOKMARK (code 1): , while compiling: SELECT * FROM BOOKMARK WHERE BOOK_ID = ?
                                                                                           at android.database.sqlite.SQLiteConnection.nativePrepareStatement(Native Method)

[2016-04-10 15:43] JonatanSalas commented on #573
The tables are generated correctly when you deploy for first time your app? How did you put the configuration in the AndroidManifest.xml? All of your domain classes provides an Empty constructor?

[2016-04-10 18:32] Goutte opened #574 "When is onCreate called ?"
Hello !

I cloned my android project sources to a new machine and tried Android Studio 2.0 (possibly unrelated to my issue), and now my app complains that the tables I'm using do not exist.

I do the calls to `init` and `terminate` in the `onCreate` and `onTerminate` in my application (by extending `SugarApp`), but the database schema is never created on a fresh install on a new emulator.

Can thi

[2016-04-10 19:16] fertwo opened #575 "No such table Exception on Android Studio with Instant Run enabled"
Hi guys, I was working without any problems with Sugar ORM until I upgraded Android Studio to 2.0 version.
Isuue: The application does not create tables and throws "NoSuchTableException" every time. Solution: Disable instant run.
Question: Will you do something to fix this issue in future releases?

Tnx!

[2016-04-10 19:22] JonatanSalas commented on #575
Yes, this is solved in PR #564! But there is no release yet.

[2016-04-11 00:02] JackLauu commented on #573
Thank you JonatanSalas, I think my problem is the same as issue #575.

[2016-04-11 00:26] JonatanSalas commented on #573
OK! I will close the issue, if you still have this trouble please re open it!

[2016-04-11 00:26] #573 closed

[2016-04-11 00:27] JonatanSalas commented on #575
I will close the issue! If you need something else related to this please re open!

[2016-04-11 00:27] #575 closed

[2016-04-11 08:53] KB42 commented on #574
Same here, for me the reason was because of the Gradle 2.0.0 update.

Try to downgrade your Gradle back to 1.5.0 in your project's build.gradle.

[2016-04-11 09:28] JonatanSalas commented on #574
The problem is around InstantRun feature from Android Studio 2. Now this has been solved by PR satyan/sugar#564. It's not released yet, so the only possible workaround it's to disable InstantRun or use Sugar from master.

[2016-04-11 10:56] JonatanSalas commented on #574
I will close this issue because it's been solved. If you need anything related to this, please re open it.

[2016-04-11 10:56] #574 closed

[2016-04-11 10:59] JonatanSalas commented on #570
For know this is not possible to achieve. But in the future we will be adding a metada tag to support these. If you have an idea on how to solve this, please submit a Pull request and I will code review it.

[2016-04-11 11:01] JonatanSalas commented on #546
This has been solved by the PR I have submitted. This code it's not released yet, use from master branch.

You can use SugarDBConfiguration class and passing in the SugarApp init method.

But take care because I will make a change to pass the Locale through metadata configuration over the AndroidManifest file.

[2016-04-11 11:02] #546 closed

[2016-04-11 11:25] Goutte commented on #574
Thanks for the tip and the pull request ! Will try the master branch.

[2016-04-11 11:35] JonatanSalas commented on #574
You are welcome! Good luck on it!

[2016-04-11 13:55] sibeliusseraphini commented on #570
I believe you could share your database using Content Provider, this PR #556 will add Content Provider for Sugar, but it will be a breaking change

[2016-04-11 14:17] sibeliusseraphini commented on #79
this will be fixed when this PR #556 is merged with master

[2016-04-11 17:02] deano2390 opened #576 "Android Studio 2.0 Instant Run causes problems"
The new instant run feature of Android Studio 2.0 causes some issues with the initial database creation code.

For me in version 1.5 of Sugar, the problem lies in ReflectionUtil.java at line 299 - MultiDexHelper.getAllClasses(context);

MultiDexHelper.getAllClasses(context) now only returns just a handful of classes which all appear to be some sort of wrapper/runtime around your real app which dea

[2016-04-11 17:25] sibeliusseraphini commented on #576
fixed with this PR https://github.com/satyan/sugar/pull/564

use master version please

[2016-04-11 17:25] #576 closed

[2016-04-11 17:55] felipebonezi commented on #50
This is not working with GRADLE 2.0.0!!!!!!!

[2016-04-11 17:57] firasalkafri commented on #50
@felipebonezi please check #564

[2016-04-11 17:58] RodryVazquez commented on #50
yes, disable instant Run in android studio

[2016-04-12 18:48] Goutte commented on #574
And if anyone else reads this and needs to switch to master too, I did it with https://jitpack.io but I had to upgrade Gradle to `2.12` too.

Sugar's giving the sweetness, now. :candy:

[2016-04-12 22:03] mattisback commented on #75
Had the same problem - turned out to be a problem with instant-run.
Didn't want to switch to master (using 1.5) so just disabled instant run.

**To disable Instant Run:**
Open the _Settings or Preferences_ dialog.
Navigate to _Build, Execution, Deployment_ > _Instant Run_.
Uncheck the box next to _Enable Instant Run_.

[2016-04-13 03:49] uzbit commented on #75
The suggestion of changing ExampleTable to example_Table in a findWithQuery suggested by @moyheen worked for me. This is not terribly encouraging since it was working with EXAMPLE_TABLE before I upgraded Android Studio to 2.0 and SDK to 23.0.3, Sugar ORM from 1.3 to (tried 1.4 and now on 1.5, both of which didn't work with the old table names).

[2016-04-13 10:44] martijndebruijn commented on #75
I switch InstantRun off when I know Sugar has to create/modify tables. After the table DDL actions you can enable InstantRun again.

[2016-04-15 12:14] LarryLGHao opened #578 "saveInTx, the next element will be cover the last element"
Log:
04-15 07:04:20.427 29921-29921/com.liuliuyxq.android I/Sugar: UserHomeGameDataTagEntity saved : 0
04-15 07:04:20.427 29921-29921/com.liuliuyxq.android I/Sugar: UserHomeGameDataTagEntity saved : 0
04-15 07:04:20.427 29921-29921/com.liuliuyxq.android I/Sugar: UserHomeGameDataTagEntity saved : 0

Code:
List<UserHomeGameDataTagEntity> attackList = tagGroupEntity.getAttack();
                if (a

[2016-04-15 12:40] sibeliusseraphini commented on #578
could u explain better?

[2016-04-15 13:21] mattisback opened #579 "Slow Access To Models with Submodels"
When you have a model like below:
[code]
When you load a `Book` the `Author` is loaded at the same time.  For a simple class like this that's fine but when you have a large database of say 1000 books, SugarORM will then run 1001 queries.  One query to load the initial list of `Book`s and one query for each book to get it's `Author`.  This is extremely cumbersome.
Is some kind of lazy-loading of su

[2016-04-15 13:24] sibeliusseraphini commented on #579
this would be a great feature, could u work on a PR for this please? I will be glad to review

[2016-04-16 12:57] mattisback commented on #579
Trying to set my android studio project to use the master version.  I did a git clone into a dir on my PC, then followed the other instructions from the readme.md im master but no luck.  Depending on what I do I get one of the following errors:
1. Putting the `compile project(':sugar')` in app.gradle gives the error `Gradle DSL method not found: 'isReleaseBuild()'`.
2. If I add the function `isRel